{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block title %}
    {% trans "Cities" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Cities" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:city-create' %}" class="btn btn-primary btn-lg pull-right"><i class="icon-plus"></i> {% trans "Create new city" %}</a>
    </div>
        <h1>{% trans "Cities" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}

    {% if cities %}
        <form action="." method="post" class="order_table" id="orders_form">
            {% csrf_token %}

            {% block city_list %}
            <table class="table table-striped table-bordered table-hover">
                <caption>
                    <h3 class="pull-left"><i class="icon-large"></i>
                        {% trans "All Cities" %}
                    </h3>
                </caption>

                <thead>
                    <tr>
                        <th>{% trans "City" %}</th>
                        <th>{% trans "Address" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for city in cities %}
                    <tr>
                        <td><a href="{% url 'dashboard:city-detail' pk=city.id %}">{{ city.city_name }}</a></td>
                        <td>{{ city.address }}</td>
                        <td>
                          {% include 'shop/dashboard/site/row_actions.html' with url_name_edit='dashboard:city-detail' url_name_delete='dashboard:city-delete' record=city %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock city_list %}

            {% include "dashboard/partials/pagination.html" %}
        </form>
    {% else %}
        <table class="table table-striped table-bordered">
            <caption><i class="icon-large"></i>
               {% trans "All Cities" %}
            </caption>
            <tr><td>{% trans "No cities found." %}</td></tr>
        </table>
    {% endif %}

    {% endblock dashboard_content %}