{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% blocktrans with flatpage_title=flatpage.title %}Flat Page {{ flatpage_title }}{% endblocktrans %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:flatpage-list' %}">{% trans "Flat Pages" %}</a>
        </li>
        <li class="active">{{ flatpage.title }}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% blocktrans with flatpage_title=flatpage.title %}Flat Page {{ flatpage_title }}{% endblocktrans %}
{% endblock  %}

{% block dashboard_content %}
    <form {% if form_id %}id="{{ form_id }}"{% endif %} class="form-{{ style|default:"stacked" }}" method="{{ method|default:"post" }}"
    {% if action %}action="{{ action }}"{% endif %}>
    {% if not method == "get" %}{% csrf_token %}{% endif %}
    {% include 'dashboard/partials/form_fields.html' %}
    <div class="form-group form-actions">
      <button class="btn btn-lg btn-primary" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
      {% trans "or" %} <a href="#" onclick="window.history.go(-1);return false" >{% trans "cancel" %}</a>.
    </div>
  </form>
{% endblock dashboard_content %}

{% block extrascripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}