{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load form_tags %}


{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {% trans "Configuration" %} | {{ block.super }}
{% endblock %}

{% block headertext %}{% trans "Landing Config" %}{% endblock %}

{% block dashboard_content %}
  <form enctype="multipart/form-data" class="form-{{ style|default:"stacked" }}" method="{{ method|default:"post" }}"
    {% if action %}action="{{ action }}"{% endif %}>
    {% if not method == "get" %}{% csrf_token %}{% endif %}

    {% include 'dashboard/partials/form_fields.html' %}

    <div class="form-group form-actions">
      <button class="btn btn-lg btn-primary" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
      {% trans "or" %} <a href="#" onclick="window.history.go(-1);return false" >{% trans "cancel" %}</a>.
    </div>
  </form>
{% endblock dashboard_content %}