{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block title %}
    {% trans "Сайты" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Сайты" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{% trans "Сайты" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}

    {% if sites %}
        <form action="." method="post" class="order_table" id="orders_form">
            {% csrf_token %}

            {% block benefits_list %}
            <table class="table table-striped table-bordered table-hover">
                <caption>
                    <h3 class="pull-left"><i class="icon-large"></i>
                        {% trans "Все сайты" %}
                    </h3>
                </caption>

                <thead>
                    <tr>
                        <th>{% trans "Название" %}</th>
                        <th>{% trans "Домен" %}</th>
                        <th>{% trans "Удаление" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    <tr>
                        <td>{{ site.name }}</td>
                        <td>{{ site.domain }}</td>
                        <td>
                            {% if current_site != site %}
                                <a href="{% url 'dashboard:site-delete' site.pk %}">Удалить</a>
                            {% endif%}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock benefits_list %}

            {% include "dashboard/partials/pagination.html" %}
        </form>
    {% else %}
        <table class="table table-striped table-bordered">
            <caption><i class="icon-large"></i>
               {% trans "Все сайты" %}
            </caption>
            <tr><td>{% trans "Еще не было создано ни одного сайта." %}</td></tr>
        </table>
    {% endif %}

    {% endblock dashboard_content %}