{% extends 'defro/base.html' %}

{% load site_static %}
{% load url_tags %}
{% load i18n %}

{% block header %}
    <div class="header header_for_zakaz">

        <div class="container">
            <div class="logo">
                {% if site_logo %}
                    <a href="/"><img src="{{ site_logo.url }}" alt=""></a>
                {% else %}
                    <a href="/"><img src="{% get_static 'img/logo.png' %}" alt=""></a>
                {% endif %}
            </div>
            <div class="contacts">
                {% if phone_numbers.kievstar %}
                    <a href="tel:+38{{ phone_numbers.kievstar|first|cut:' ' }}">
                        <span>({{ phone_numbers.kievstar|first|slice:':3' }})</span>{{ phone_numbers.kievstar|first|slice:'4:'|phone_number_filter }}
                    </a>
                {% endif %}
                {% if phone_numbers.vodafone %}
                    <a href="tel:+38{{ phone_numbers.vodafone|first|cut:' ' }}">
                        <span>({{ phone_numbers.vodafone|first|slice:':3' }})</span>{{ phone_numbers.vodafone|first|slice:'4:'|phone_number_filter }}
                    </a>
                {% endif %}
                {% if phone_numbers.life %}
                    <a href="tel:+38{{ phone_numbers.life|first|cut:' ' }}">
                        <span>({{ phone_numbers.life|first|slice:':3' }})</span>{{ phone_numbers.life|first|slice:'4:'|phone_number_filter }}
                    </a>
                {% endif %}
            </div>
            <i id="basket_dropdown" data-basket-url="{% url 'basket:summary' %}"
               style="display: none"></i>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="make_zakaz_container clear_fix made_zakaz_container">
            <p class="category_block_caption">{% trans "Спасибо, Ваш заказ принят!" %}</p>
            <p class="made_zakaz_desc">
                {% blocktrans %}
                    Наш менеджер обязательно свяжется с Вами
                    для уточнения всех деталей и подтверждения заказа.
                {% endblocktrans %}
            </p>
            <div class="letter_details bottom_border_details">
                <p class="letter_details_caption">{% trans "Детали заказа № {{ order.number }}" %}
                    <a href="#" id="print">{% trans "Распечатать" %}</a></p>
                <div class="letter_details_tovar zakaz_letter_details_inline">
                    <ul>
                        {% for line in order.basket.lines.all %}
                            <li>
                                <img src="{{ line.product.primary_image.original.url }}"
                                     alt="">
                                <div class="letter_details_name_number">
                                    <p class="letter_details_name">
                                        {{ line.product.product_class.name }} {{ line.product.title }}</p>
                                    <span>{{ line.quantity }} {% trans "шт." %}</span>
                                    <p class="letter_details_price">{{ line.line_price_excl_tax_incl_discounts }}
                                        {% trans "грн." %}</p>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                    <p class="letter_details_sum">{% trans "Итого:" %}
                        <span>{{ order.total_price }} {% trans "грн." %}</span></p>
                </div>

                <div class="zakaz_letter_details_container">
                    <div class="letter_details">
                        <p class="letter_details_caption letter_details_caption_contact">
                            {% trans "Контактные данные" %}</p>
                        <div class="letter_icon_info">
                            <p>{% trans "Имя:" %} <span>{{ order.name }}</span></p>
                            <p>{% trans "Адрес:" %}
                                <span>{{ order.city }}</span>
                            </p>
                            <p>{% trans "Телефон:" %} <span>{{ order.phone }}</span></p>
                            {% if order.guest_email %}
                                <p>{% trans "E-mail:" %} <span>{{ order.guest_email }}</span></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="letter_details">
                        <p class="letter_details_caption letter_details_caption_delivery">
                            {% trans "Доставка и оплата" %}</p>
                        <div class="letter_icon_info letter_icon_second">
                            <p>{% trans "Способ оплаты:" %}
                                <span>{{ order.payment_method.name }} </span>
                            </p>
                            <p>{% trans "Способ доставки:" %}
                                <span>{{ order.shipping_method.name }}</span>
                            </p>
                            <p>{% trans "Комментарий к заказу:" %}
                                <span>{{ order.comment|default:"Нет" }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ block.super }}
{% endblock %}

{% block above_footer_block %}{% endblock %}

{% block footer %}{% endblock %}