{% load django_tables2 %}
{% load i18n %}
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {% trans "Actions" %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="{% url 'dashboard:catalogue-product' pk=record.id %}{% querystring %}">{% trans "Edit" %}</a>
            </li>
            <li>
                <a href="#" id="clone-btn{{ record.id }}">{% trans "Клонировать" %}</a>
            </li>
            <li>
                <a href="{{ record.get_absolute_url }}"> {% trans "View on site" %}</a>
            </li>
            <li>
                <a href="{% url 'dashboard:catalogue-product-delete' pk=record.id %}">{% trans "Delete" %}</a>
            </li>
        </ul>
        <form action="{% url 'dashboard:clone-product' pk=record.id %}" method="POST" name="clone-form{{ record.id }}">
            {% csrf_token %}
            <button type="submit" style="display:none;">Клонировать</button>
        </form>
    </div>
</div>

<script>
    document.getElementById("clone-btn{{ record.id }}").onclick = function (e) {
        document.forms["clone-form{{ record.id }}"].submit();
    };
</script>