{% extends 'oscar/base.html' %}

{% load site_static %}
{% load i18n %}
{% load lang_url %}
{% load static %}
{% load url_tags %}


{% block viewport %}width=device-width, initial-scale=1.0{% endblock %}

{% block google_vefiry %}
    <meta name="google-site-verification" content="{{ google_webmaster_code }}" />
{% endblock %}

{% block yandex_vefiry %}
    <meta name="yandex-verification" content="{{ yandex_webmaster_code }}" />
{% endblock %}

{% block google_tag_manager_script %}
    {{ google_tag_manager_script|safe }}
{% endblock %}

{% block google_tag_manager_noscript %}
    {{ google_tag_manager_noscript|safe }}
{% endblock %}

{% block favicon %}
    {% if site_favicon %}
        <link rel="shortcut icon" href="{{ site_favicon.url }}" />
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{% get_static 'css/jquery.bxslider.css' %}">
    <link rel="stylesheet" href="{% get_static 'css/jquery.scrollbar.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% get_static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% get_static 'css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% get_static 'css/style.css' %}">
    <link rel="stylesheet" href="{% get_static 'css/fontawesome-stars.css' %}">
    <link rel="stylesheet" href="{% get_static 'css/media.css' %}">
{% endblock %}

{% block layout %}
    <div class="container-fluid">
        {% block header %}
            <div class="header">
                <div class="container">

                    <div class="top_menu main_menu">
                        <ul>
                            {% for item in header_menu %}
                                <li>
                                    <a href="{% url_format item.link %}">{{ item }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="mobile_menu" role="button"></div>
                    <!--<p class="name_page">Каталог</p>-->
                    <div class="head_menu" role="button">{% trans "Каталог товаров" %}</div>
                    <div class="header_scroll_catalog"></div>
                    <div class="header_right header_main_right">
                        <div class="lang">{% get_current_language as LANGUAGE_CODE %}
                            <a href="{% change_lang 'ru' %}"
                               {% if LANGUAGE_CODE == 'ru' %}class="active_lang" {% endif %}>RU</a>
                            <span>|</span>
                            <a href="{% change_lang 'uk' %}"
                               {% if LANGUAGE_CODE == 'uk' %}class="active_lang" {% endif %}>UA</a>
                        </div>
                        <div class="search">
                            {% include 'defro/partials/search.html' %}
                        </div>
                    </div>
                    <div class="contacts  header_scroll_contacts">
                        {% if phone_numbers.kievstar %}
                            <a href='tel:+38{{ phone_numbers.kievstar|first|cut:" " }}'>
                                <span>({{ phone_numbers.kievstar|first|slice:':3' }})</span>{{ phone_numbers.kievstar|first|slice:'4:'|phone_number_filter }}
                            </a>
                        {% endif %}
                        <span class='more' role="button">{% trans "Еще номера" %}</span>
                        <div class="more_contacts">
                            {% if phone_numbers.vodafone %}
                                <a href='tel:+38{{ phone_numbers.vodafone|first|cut:" " }}'>
                                    <span>({{ phone_numbers.vodafone|first|slice:':3' }})</span>{{ phone_numbers.vodafone|first|slice:'4:'|phone_number_filter }}
                                </a>
                            {% endif %}
                            {% if phone_numbers.life %}
                                <a href='tel:+38{{ phone_numbers.life|first|cut:" " }}'>
                                    <span>({{ phone_numbers.life|first|slice:':3' }})</span>{{ phone_numbers.life|first|slice:'4:'|phone_number_filter }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="logo">
                        {% if site_logo %}
                        <a href="/"><img src="{{ site_logo.url }}"
                                         alt=""></a>
                        {% else %}
                        <a href="/"><img src="{% get_static 'img/logo.png' %}"
                                         alt=""></a>
                        {% endif %}
                    </div>
                    <div class="contacts header_contacts main_contacts">
                        <div>
                            {% if phone_numbers.kievstar %}
                                <a href="tel:+38{{ phone_numbers.kievstar|first|cut:" " }}"><span>({{ phone_numbers.kievstar|first|slice:':3' }})</span>{{ phone_numbers.kievstar|first|slice:'4:'|phone_number_filter }}
                                </a>
                            {% endif %}
                            {% if phone_numbers.vodafone %}
                                <a href="tel:+38{{ phone_numbers.vodafone|first|cut:" " }}"><span>({{ phone_numbers.vodafone|first|slice:':3' }})</span>{{ phone_numbers.vodafone|first|slice:'4:'|phone_number_filter }}
                                </a>
                            {% endif %}
                            {% if phone_numbers.life %}
                                <a href="tel:+38{{ phone_numbers.life|first|cut:" " }}"><span>({{ phone_numbers.life|first|slice:':3' }})</span>
                                {{ phone_numbers.life|first|slice:'4:'|phone_number_filter }}
                                </a>
                            {% endif %}
                            <a href="#" class="zakaz_zvon show_popup"
                               data-rel="modal_zakaz_zvon">{% trans "Заказать звонок" %}</a>
                        </div>
                    </div>

                    <div class="basket">

                        <div class="dropdown" id="compare_dropdown">
                            {% if compare_categories %}
                                <a href="{% url 'compare' %}" class="btn btn-default dropdown-toggle"
                                   id="dropdownMenu1" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="true"
                                   data-content="{{ compare_products|length }}">
                                    {% trans "Сравнение" %}
                                </a>
                            {% else %}
                                <a href="#" class="btn btn-default dropdown-toggle"
                                   id="dropdownMenu1" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="true"
                                   data-content="{{ compare_products|length }}">
                                    {% trans "Сравнение" %}
                                </a>
                            {% endif %}
                            <ul class="dropdown-menu"
                                aria-labelledby="dropdownMenu1">
                                {% if compare_categories %}
                                    {% for category in compare_categories %}
                                        <li>
                                            <a href="{% url 'compare_category' category=category.pk %}"
                                               class="sravn_items">{{ category.name }}</a>
                                            <a href="#" class="sravn_delete"
                                               data-category-pk="{{ category.pk }}"
                                               data-remove-url="{% url 'remove_category_from_compare_list' %}"></a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li>
                                        <a href="#" class="sravn_items">{% trans "Список сравнения пуст" %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="dropdown dropdown_2" id = "addclass">
                            <a href="#" class="btn btn-default "
                               id="dropdownMenu2"
                               data-content="{{ request.basket.num_lines }}">
                                {% trans "Корзина" %}
                            </a>
                            <ul class="dropdown-menu" id = "show">
                                <li>
                                    <p class="basket_how_many">В <span
                                            class="red">{% trans "Вашей корзине" %}</span>
                                        {% trans "товаров:" %} <span
                                                class=""
                                                id="dropdown_line_count">{{ request.basket.num_lines }}</span>
                                    </p>
                                </li>
                                <li id="basket_dropdown"
                                    data-basket-url="{% url 'basket:summary' %}">

                                </li>
                                <li>
                                    <p class="basket_how_much">{% trans "Итого:" %} <span
                                            id="total_in_dropdown">{{ request.basket.total_incl_tax }} {% trans "грн." %}</span>
                                    </p>
                                </li>
                                <li>
                                    <a href="#" id="checkout_dropdown"
                                       class="basket_button_zakaz"
                                       data-checkout-url="{% url 'order:create_order' %}"
                                       data-update-url="{% url 'update_items_quantity' %}">
                                        {% trans "Оформить заказ" %}
                                    </a>
                                    <a href="#" class="basket_goto show_popup"
                                       data-rel="buy_button_modal">{% trans "Перейти в корзину" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .basket -->
                </div>
            </div><!-- .header -->
        {% endblock %}

        {% block content %}
            <div class="popup buy_button_modal" id="basket_modal">
                <a class="close" href="#">{% trans "Close" %}</a>
                <ul>
                    <li>
                        <p class="buy_button_howmuch"><span
                                class="modal_red_elem"
                                id="modal_line_count">{{ request.basket.num_lines }} {% trans "товар" %}</span>
                            {% trans "на сумму" %}
                            <span id="total_sum">{{ request.basket.total_incl_tax }}</span><span
                                    class="grn"> грн</span></p>
                    </li>
                    <li id="basket_items">
                    </li>
                    <li>
                        <p class="basket_how_much">
                            {% trans "Общая стоимость:" %}
                            <span id="total_sum_bottom">
                                {{ request.basket.total_incl_tax }}
                            </span>
                            <span class="grn"> {% trans "грн" %}</span>
                        </p>
                    </li>
                    <li>
                        <a href="#" class="modal_basket_goback"
                           id="continue_shopping"
                           data-update-url="{% url 'update_items_quantity' %}"
                           data-catalogue-url="{% url 'catalogue:index' %}">
                           {% trans "Продолжить покупки" %}
                        </a>
                        <a href="{% url 'basket:summary' %}"
                           class="modal_basket_button_zakaz" id="make_order"
                           data-update-url="{% url 'update_items_quantity' %}"
                           data-checkout-url="{% url 'order:create_order' %}">
                           {% trans "Оформить заказ" %}
                        </a>

                    </li>
                    <li>
                        <form id="buy_one_click_modal" >
                            <input type="text"
                                   placeholder="(0XX) XXX - XX - XX"
                                   class="modal_input_goto" name="phone">
                            <button
                               class="modal_basket_goto"
                               data-rel="request_button_modal_third"
                               type="submit" 
                               id="one_click_btn_modal"
                               data-oneclick-url="{% url 'oneclick_basket' %}">
                               {% trans "Заказать в один клик" %}
                            </button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="popup request_button_modal_third">
                <a class="close" href="#">{% trans "Close" %}</a>
                <p class="modal_caption">{% trans "Спасибо, Ваш заказ получен!" %}</p>
                <p class="modal_text">{% trans "Наш менеджер обязательно свяжется с
                    Вами" %}</p>
            </div>


            <div class="popup request_button_modal">
                <a class="close" href="#">Close</a>
                <p id="question_result1" class="modal_caption">
                    {% trans "Спасибо за Ваше обращение" %}
                </p>
                <p id="question_result2" class="modal_text">
                    {% trans "Наш менеджер обязательно свяжется с Вами" %}
                </p>
            </div>

            <div class="snackbar" id="compare_success" style="display: none">
                {% trans "Товар добавлен в список сравнения" %}
            </div>
            <div class="snackbar" id="basket_error" style="display: none"></div>
        {% endblock %}
        {% block above_footer_block %}
            <div class="above_footer_block">
                <div class="bottom_menu_bg default_bottom_menu">
                    <div class="container">
                        <div class="bottom_menu">
                            {% for category  in footer_menu %}
                                <div class="menu_block">
                                    <p class="menu_block_caption">{{ category.0 }}</p>
                                    <div class="footer_close"></div>
                                    <div class="footer_info">
                                        <ul class="menu_block_items">
                                            {% for item in category.1 %}
                                                <li>
                                                    <a href="{% url_format item.link %}">{{ item }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="menu_block">
                                <p class="menu_block_caption">{% trans "Как связаться" %}</p>
                                <div class="footer_close"></div>
                                <div class="footer_info">
                                    <ul class="contact_ul">
                                        {% if phone_numbers.kievstar %}
                                            <li>
                                                <a href="tel:+38{{ phone_numbers.kievstar|first|cut:" " }}">({{ phone_numbers.kievstar|first|slice:':3' }}) {{ phone_numbers.kievstar|first|slice:'4:'|phone_number_filter }}</a>
                                            </li>
                                        {% endif %}
                                        {% if phone_numbers.vodafone %}
                                            <li>
                                                <a href="tel:+38{{ phone_numbers.vodafone|first|cut:" " }}">({{ phone_numbers.vodafone|first|slice:':3' }}) {{ phone_numbers.vodafone|first|slice:'4:'|phone_number_filter }}</a>
                                            </li>
                                        {% endif %}
                                        {% if phone_numbers.life %}
                                            <li>
                                                <a href="tel:+38{{ phone_numbers.life|first|cut:" " }}">({{ phone_numbers.life|first|slice:':3' }}) {{ phone_numbers.life|first|slice:'4:'|phone_number_filter }}</a>
                                            </li>
                                        {% endif %}
                                        <li><a href="{% url 'contacts' %}"
                                               class="predstav">{% trans "Наши представительства" %}</a></li>
                                    </ul>

                                    <div class="time_work">
                                        {% if schedule.main %}
                                            {% for timetable in schedule.main %}
                                                <p>{{ timetable.weekdays }}:<span>{{ timetable.daytime }}</span>
                                                </p>
                                            {% endfor %}
                                        {% else %}
                                            <p>{% trans "Пн.-Пт.:" %}
                                                <span> {% trans "с 9:00 до 18:00" %}</span>
                                            </p>
                                            <p>{% trans "Сб:" %}<span> {% trans "с 9:00 до 15:00" %}</span>
                                            </p>
                                        {% endif %}
                                        {% if site_email %}
                                            <a href="mailto:{{ site_email }}">{{ site_email }}</a>
                                        {% else %}
                                            <a href="mailto:info@defro.org.ua">info@defro.org.ua</a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="menu_block">
                                <p class="menu_block_caption">{% trans "Принимаем к оплате" %}</p>
                                <div class="footer_close"></div>
                                <div class="footer_info">
                                    <img src="{% get_static 'img/footer/master.png' %}"
                                         alt="">
                                    <img src="{% get_static 'img/footer/visa.png' %}"
                                         alt="">
                                </div>
                            </div>
                            <div class="grafik">
                                <div class="time_work">
                                    <p class="grafik_caption">{% trans "График работы call-центра" %}</p>
                                    {% if schedule.callcenter %}
                                        {% for timetable in schedule.callcenter %}
                                            <p>{{ timetable.weekdays }}:<span>{{ timetable.daytime }}</span>
                                            </p>
                                        {% endfor %}
                                    {% else %}
                                        <p>{% trans "Пн.-Пт.:" %}
                                            <span> {% trans "с 9:00 до 18:00" %}</span></p>
                                        <p>{% trans "Сб:" %}<span> {% trans "с 9:00 до 15:00" %}</span></p>
                                        <p>{% trans "Вс: " %}<span> {% trans "выходной" %}</span></p>
                                    {% endif %}

                                </div>
                                <div class="time_work">
                                    <p class="grafik_caption">{% trans "Заказ через корзину 24/7/365" %}</p>
                                    <p class="grafik_special">{% trans "Ночные заказы обрабатываются" %}</p>
                                    {% if schedule.nightorders %}
                                        {% for timetable in schedule.nightorders %}
                                            <p>{{ timetable.weekdays }}:<span>{{ timetable.daytime }}</span>
                                            </p>
                                        {% endfor %}
                                    {% else %}
                                        <p>{% trans "с 9:00 до 11:00" %}</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block footer %}
            <div class="footer">
                <div class="container">
                    <div class="logo_footer">
                        {% if site_logo %}
                        <a href="/"><img src="{{ site_logo.url }}"
                                         alt=""></a>
                        {% else %}
                        <a href="/"><img src="{% get_static 'img/footer/logo.png' %}"
                                         alt=""></a>
                        {% endif %}
                    </div>
                    <div class="rights">
                        {% if site_copyright %}
                            <p>© {{ site_copyright }}</p>
                        {% else %}
                            <p>
                                {% blocktrans %}
                                    © 2017 интернет-магазин <br> твердотопливных котлов Defro тм
                                {% endblocktrans %}
                            </p>
                        {% endif %}
                    </div>
                    <div class="social">
                        <p>{% trans "Мы в соцсетях, <br> присоединяйтесь!" %}</p>
                        {% if social_networks_refs.facebook %}
                            <a href="{{ social_networks_refs.facebook|first }}"><img
                                src="{% get_static 'img/footer/fb.png' %}"
                                alt=""></a>
                        {% endif %}
                        {% if social_networks_refs.vkontakte %}
                            <a href="{{ social_networks_refs.vkontakte|first }}"><img
                                src="{% get_static 'img/footer/vk.png' %}"
                                alt=""></a>
                        {% endif %}
                        {% if social_networks_refs.mailru %}
                            <a href="{{ social_networks_refs.mailru|first }}"><img
                                src="{% get_static 'img/footer/mail.png' %}"
                                alt=""></a>
                        {% endif %}
                        {% if social_networks_refs.twitter %}
                            <a href="{{ social_networks_refs.twitter|first }}"><img
                                src="{% get_static 'img/footer/tw.png' %}"
                                alt=""></a>
                        {% endif %}
                        {% if social_networks_refs.odnoklassniki %}
                            <a href="{{ social_networks_refs.odnoklassniki|first }}"><img
                                src="{% get_static 'img/footer/od.png' %}"
                                alt=""></a>
                        {% endif %}
                        {% if social_networks_refs.pinterest %}
                            <a href="{{ social_networks_refs.pinterest|first }}"><img
                                src="{% get_static 'img/footer/p.png' %}"
                                alt=""></a>
                        {% endif %}
                        {% if social_networks_refs.google %}
                            <a href="{{ social_networks_refs.google|first }}"><img
                                src="{% get_static 'img/footer/google.png' %}"
                                alt=""></a>
                        {% endif %}
                        {% if social_networks_refs.youtube %}
                            <a href="{{ social_networks_refs.youtube|first }}"><img
                                src="{% get_static 'img/footer/youtube.png' %}"
                                alt=""></a>
                        {% endif %}
                    </div>
                </div>
                <div id="scrollup"><img alt="Прокрутить вверх" src="{% get_static 'img/button_up.png' %}"></div>
            </div>
        {% endblock %}
    </div>
    <div class="modal_zakaz_zvon">
         <h2>{% trans "Заказать звонок" %}<span class="close"></span></h2>
        <form id="call_request_form"
              action="{% url 'call_request' %}"
              class="modal_form">
            <label>{% trans "Ваше имя" %}<span class="red_star">*</span>:</label>
            <input id="name1" name="name" type="text">
            <label>{% trans "Ваш телефон" %}<span class="red_star">*</span>:</label>
            <input id="phone1" name="phone" type="text">
            {% csrf_token %}<br><br>
            <a href="#" id="submit_call_request"
               data-rel="request_button_modal">{% trans "Отправить" %}</a>
        </form>
    </div>

    {% block shadow %}
    <div class="shadow"></div>
    {% endblock %}
{% endblock %}

{% block scripts %}
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript"
            charset="utf-8"></script>

    <script src="{% get_static 'js/jquery-2-0-0.js' %}"></script>
    <script src="{% get_static 'js/bootstrap.min.js' %}"></script>
    <script src="{% get_static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% get_static 'js/jquery.bxslider.min.js' %}"></script>
    <script src="{% get_static 'js/jquery.scrollbar.js' %}"></script>
    <script src="{% get_static 'js/headhesive.min.js' %}"></script>
    <script src="{% get_static 'js/script.js' %}"></script>
    <script src="{% get_static 'js/estimation.js' %}"></script>
    <script src="{% get_static 'js/script-full-short.js' %}"></script>
    <script src="{% get_static 'js/side-menu.js' %}"></script>
{% endblock %}



{# Additional JS scripts #}
{% block extrascripts %}
    <script src="{% get_static 'js/basket_script.js' %}"></script>
    <script src="{% get_static 'js/popup.js' %}"></script>
    <script>
    $(document).ready(function () {
        resizeCatalogButton();
        hide_mobile_side_menu();
    });
    </script>

<script>

// var show = $('#show');
// var timeoutId;
//$('#dropdownMenu2').hover(
//    function () {
//    clearTimeout(timeoutId);
//    show.show();
//    //$('#addclass').addClass("open");
////    $('#addclass').addClass('open');
//},
//    function () {
//        timeoutId = setTimeout($.proxy(show , 'hide') , 1000);
//    });
//
//$('#show').mouseleave(function () {
//    $(this).hide();
//})

$('#addclass').hover(function () {
    $(this).addClass('open');

}, function () {
    $(this).removeClass('open');

});



/*
*
* var linc2 = $('.linc2'),
    timeoutId;
$('.link').hover(function(){
    clearTimeout(timeoutId);
    linc2.show();
}, function(){
    timeoutId = setTimeout($.proxy(linc2,'hide'), 1000)
});
linc2.mouseenter(function(){
    clearTimeout(timeoutId);
}).mouseleave(function(){
    linc2.hide();
});
* */


//$('#place').hover(function(){
//$('.linc2').show();
//},
//function(){
//$('.linc2').hide();
//});


//     $("#dropdownMenu2").mouseout(function(){
//        $('#show').hide();
//        $('#dropdown_2').removeClass('open');
//    });
</script>
{% endblock %}

{# Block for body onload functions #}
<script type="text/javascript">
    $(function () {
        {% block onbodyload %}{% endblock %}
    });
</script>


{% comment%}

Добавить класс опен к dropdown_2 при наведении на dropdownMenu2 показівать show

{% endcomment %}