{% extends 'oscar/base.html' %}
{% load site_static %}
{% load i18n %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% get_static 'css/jquery.bxslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% get_static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% get_static 'css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% get_static 'css/style.css' %}">
    <link rel="stylesheet" href="{% get_static 'css/fontawesome-stars.css' %}">
{% endblock %}

{% block layout %}
    <div class="container-fluid">
        <div class="header">
            <div class="container">

                <div class="top_menu">
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Доставка и оплата</a></li>
                        <li><a href="#">Гарантия</a></li>
                        <li><a href="#">Кредит</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="header_right">
                    <div class="lang">
                        <a href="#">RU</a>
                        <span>|</span>
                        <a href="#">UA</a>
                    </div>
                    <div class="search">
                        <input type="text" placeholder="поиск">
                    </div>
                </div>


            </div>
            <div class="container">
                <div class="logo">
                    <a href="#"><img src="{% get_static 'img/logo.png' %}" alt=""></a>
                </div>
                <div class="contacts">
                    {% if phone_numbers.kievstar %}
                        <a href="tel:+380988598880"><span>({{ phone_numbers.kievstar|first|slice:':3' }})</span>{{ phone_numbers.kievstar|first|slice:'4:' }}</a>
                    {% endif %}
                    {% if phone_numbers.vodafone %}
                        <a href="tel:+380995598880"><span>({{ phone_numbers.vodafone|first|slice:':3' }})</span>{{ phone_numbers.vodafone|first|slice:'4:' }}</a>
                    {% endif %}
                    {% if phone_numbers.life %}
                        <a href="tel:+380931498880"><span>({{ phone_numbers.life|first|slice:':3' }})</span>{{ phone_numbers.life|first|slice:'4:' }}</a>
                    {% endif %}
                    <a href="#" class="zakaz_zvon">Заказать звонок</a>
                </div>
                <div class="basket">

                    <div class="dropdown">
                        <a href="#" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">
                            Сравнение
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="#" class="sravn_items">Название категории</a>
                                <a href="#" class="sravn_delete"></a>
                            </li>
                            <li>
                                <a href="#" class="sravn_items">Название категории</a>
                                <a href="#" class="sravn_delete"></a>
                            </li>
                            <li>
                                <a href="#" class="sravn_items">Название категории</a>
                                <a href="#" class="sravn_delete"></a>
                            </li>

                        </ul>
                    </div>
                    <div class="dropdown dropdown_2">
                        <a href="#" class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">
                            Корзина
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li>
                                <p class="basket_how_many">В <span class="red">Вашей корзине</span> товаров: <span
                                        class="">2</span></p>
                            </li>
                            <li>
                                <div class="basket_elem">
                                    <img src="{% get_static 'img/basket_item_img.png' %}" alt="">
                                    <p class="basket_item_name">Твердотопливный котел Defro Komfort Eko 20</p>
                                    <p class="basket_item_number">1 шт.</p>
                                    <p class="basket_item_price">22 800 грн.</p>
                                </div>
                                <div class="basket_elem">
                                    <img src="{% get_static 'img/basket_item_img.png' %}" alt="">
                                    <p class="basket_item_name">Твердотопливный котел Defro Komfort Eko 20</p>
                                    <p class="basket_item_number">1 шт.</p>
                                    <p class="basket_item_price">22 800 грн.</p>
                                </div>
                            </li>
                            <li>
                                <p class="basket_how_much">Итого: <span>45 600 грн.</span></p>
                            </li>
                            <li>
                                <a href="#" class="basket_button_zakaz">Оформить заказ</a>
                                <a href="#" class="basket_goto">Перейти в корзину</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}

        {% endblock %}

        <div class="footer">
            <div class="container">
                <div class="logo_footer">
                    <a href="#">
                        <img src="{% get_static 'img/footer/logo.png' %}" alt="">
                    </a>
                </div>
                <div class="rights">
                    <p>© 2017 интернет-магазин <br> твердотопливных котлов Defro тм</p>

                </div>
                <div class="social">
                    <p>Мы в соцсетях, <br> присоединяйтесь!</p>
                    <a href="#"><img src="{% get_static 'img/footer/fb.png' %}" alt=""></a>
                    <a href="#"><img src="{% get_static 'img/footer/vk.png' %}" alt=""></a>
                    <a href="#"><img src="{% get_static 'img/footer/mail.png' %}" alt=""></a>
                    <a href="#"><img src="{% get_static 'img/footer/tw.png' %}" alt=""></a>
                    <a href="#"><img src="{% get_static 'img/footer/od.png' %}" alt=""></a>
                    <a href="#"><img src="{% get_static 'img/footer/p.png' %}" alt=""></a>
                    <a href="#"><img src="{% get_static 'img/footer/google.png' %}" alt=""></a>
                    <a href="#"><img src="{% get_static 'img/footer/youtube.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% get_static 'js/jquery-2-0-0.js' %}"></script>
    <script src="{% get_static 'js/bootstrap.min.js' %}"></script>
    <script src="{% get_static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% get_static 'js/jquery.bxslider.min.js' %}"></script>
    <script src="{% get_static 'js/script.js' %}"></script>
{% endblock %}
