{% extends 'defro/base.html' %}


{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load currency_tags %}
{% load i18n %}
{% load site_static %}
{% load thumbnail %}
{% load meta_tags %}
{% load url_replace %}


{% block title %}
    {% meta_tag page_type 'title' page_obj request category filter %}
{% endblock title %}

{% block title_meta %}
    {% meta_tag page_type 'title_meta' page_obj request category filter %}
{% endblock title_meta %}

{% block description %}
    {% meta_tag page_type 'description_meta' page_obj request category filter %}
{% endblock description %}


{% block favicon %}
    {% if page_obj.number == 1 %}
    {% if page_obj.has_next %}
      <link rel="next" href="?page={{ page_obj.next_page_number }}">
    {% endif %}
  {% else %}
    <link rel="canonical" href="{% url 'catalogue:index' %}">
    {% if page_obj.has_next %}
      <link rel="next" href="?page={{ page_obj.next_page_number }}">
    {% endif %}
    {% if page_obj.has_previous %}
      <link rel="prev" href="?page={{ page_obj.previous_page_number }}">
    {% endif %}
  {% endif %}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block mobile_menu %}
    {{ block.super }}
    <p class="name_page">Каталог</p>
{% endblock %}

{% block content %}
    <div class="container main_container compare_container default_container">
        <div class="main_block clear_fix">
            <div class="left_side default_left_side">
            {% include 'defro/partials/side_menu.html' %}
            </div>

            <ul class="breadcrumb">
                <li>
                    <a href="/"><img src="{% get_static 'img/home.png' %}"
                                     alt="" class="solo_img"></a>
                </li>
                {% if category %}
                {% for cat in category.get_ancestors_and_self %}
                    {% if cat == category %}
                        <li>{{ cat.name }}</li>
                        {% else %}
                        <li><a href="{{ cat.get_absolute_url }}" class="active">{{ cat.name }}</a></li>
                    {% endif %}
                {% endfor %}
                {% else %}
                <li {% if not category %}class="active"{% endif %}>Каталог товаров</li>
                {% endif %}
            </ul>


            <div class="main_content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 cold-lg-3">
                        <div class="left_filter">
                            <div class="parameters">
                                <p class="caption">Выбор параметров</p>
                                <div class="parameters_block clear_fix"
                                     id="applied_filters">
                                    <p class="filter_labels">Найдено
                                        товаров:
                                        <span>{{ paginator.count }}</span>
                                    </p>
                                    {% for field, data in facet_data.items %}
                                        {% if data.results %}
                                            {% with name=data.name items=data.results %}
                                                {% for item in items %}
                                                    {% if item.selected %}
                                                        <p class="filter_labels">{{ name }}</p>
                                                        <p class="parameter_holder">{{ item.name }}
                                                            <a href="{{ item.deselect_url }}"></a>
                                                        </p>
                                                        <input class="facet_checkbox parameter_holder"
                                                               type="checkbox"
                                                               name="{{ item.name }}"
                                                               checked
                                                               style="display: none"/>
                                                        <input class="facet_url"
                                                               type="hidden"
                                                               name="url_for_{{ item.name }}"
                                                               value="{{ item.deselect_url }}"/>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for field in filter_form %}
                                        {% for item in field %}
                                            {% if item.is_checked %}
                                                <p class="filter_labels">{{ field.label }}</p>
                                                <p class="parameter_holder">{{ item.choice_label }}
                                                    <input type="hidden" name="field_name" value="{{ field.name }}">
                                                    <input type="hidden" name="field_value" value="{{ item.choice_value }}">
                                                    <a class="filter-facet-clear" href=""></a>
                                                </p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    {% if filter_form.has_changed %}
                                        <a href="{{ filter_reset_url }}"
                                           class="filter_labels float_right"
                                           id="reset_filters">Сбросить
                                            все фильтры</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% for field, data in facet_data.items %}
                                {% if data.results %}

                                    {% with name=data.name items=data.results %}
                                        <div class="left_filter_collapse">
                                            <a class="left_filter_captions"
                                               role="button"
                                               data-toggle="collapse"
                                               href="#collapseFilter{{ forloop.counter }}"
                                               aria-expanded="false"
                                               aria-controls="collapseFilter{{ forloop.counter }}">
                                                {{ name }}
                                            </a>
                                            <div class="collapse in"
                                                 id="collapseFilter{{ forloop.counter }}">
                                                <div class="well">
                                                    <div class="checkbox">
                                                        {% for item in items %}
                                                            {% if item.selected %}
                                                                <input class="facet_checkbox"
                                                                       type="checkbox"
                                                                       name="{{ item.name }}"
                                                                       id="check_{{ item.name }}_{{ forloop.counter }}"
                                                                       value="check_{{ item.name }}_{{ forloop.counter }}"
                                                                       checked/>
                                                                <label for="check_{{ item.name }}_{{ forloop.counter }}">{{ item.name }}
                                                                    ({{ item.count }})</label>
                                                                <input class="facet_url"
                                                                       type="hidden"
                                                                       name="url_for_{{ item.name }}"
                                                                       value="{{ item.deselect_url }}"/>
                                                            {% else %}
                                                                {% if item.disabled %}
                                                                    <input
                                                                            type="checkbox"
                                                                            name="{{ item.name }}"
                                                                            id="check_{{ item.name }}_{{ forloop.counter }}"
                                                                            value="check_{{ item.name }}_{{ forloop.counter }}"
                                                                            disabled
                                                                            class="disabled"/>
                                                                    <label for="check_{{ item.name }}_{{ forloop.counter }}"
                                                                           class="disabled">{{ item.name }}
                                                                        ({{ item.count }})</label>
                                                                {% else %}

                                                                    <input class="facet_checkbox"
                                                                           type="checkbox"
                                                                           name="{{ item.name }}"
                                                                           id="check_{{ item.name }}_{{ forloop.counter }}"
                                                                           value="check_{{ item.name }}_{{ forloop.counter }}"/>
                                                                    <label for="check_{{ item.name }}_{{ forloop.counter }}">{{ item.name }}
                                                                        <span>({{ item.count }})</span></label>
                                                                    <input class="facet_url"
                                                                           type="hidden"
                                                                           name="url_for_{{ item.name }}"
                                                                           value="{{ item.select_url }}"/>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    {% endwith %}


                                {% endif %}
                            {% endfor %}

                            {% block filters %}
                                <div id="filters">
                                    {% include 'defro/partials/filters.html' with form=filter_form %}
                                </div>
                            {% endblock %}


                            <p class="social_groups">Присоединяйтесь к
                                нам</p>
                            <!-- VK Widget -->
                            <div id="vk_groups"></div>

                            <script type="text/javascript">
                                VK.Widgets.Group("vk_groups", {
                                    mode: 3,
                                    width: "265",
                                    color2: '5E81A8'
                                }, 20003922);
                            </script>
                            <div style="margin-top: 20px;">
                                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&width=265&height=180&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                        width="265" height="180"
                                        style="border:none;overflow:hidden"
                                        scrolling="no" frameborder="0"
                                        allowTransparency="true"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 cold-lg-9">
                        <div class="right_content">
                            <p class="category_block_caption">
                            {% if category %}
                                {{ category.name }}{% if filter_form.has_changed %};{% endif %}
                            {% endif %}
                            {% if request.GET.price_range_min or request.GET.price_range_max %}
                                {% trans "Цена:" %} {{ request.GET.price_range_min }} - {{ request.GET.price_range_max }};
                            {% endif %}
                            {% if filter_form.has_changed %}
                                {% for field in filter_form %}
                                    {% for item in field %}
                                        {% if item.is_checked %}
                                            {{ field.label }}: {{ item.choice_label }};
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            </p>
                            <div class="sort_vid">
                                <div class="filter_media">Фильтр<i class="fa fa-filter" aria-hidden="true"></i></div>
                                {% if form %}
                                    <span class="sort">Сортировать:</span>
                                    <div class="custom_select">
                                        <form method="get">
                                            {% include "partials/form_field.html" with field=form.sort_by nolabel=True %}
                                        </form>
                                    </div>
                                {% endif %}
                                <div class="number_of_elems">
                                    <span>Показывать по</span>
                                    <div class="custom_select">
                                        <select id="paginate_by">
                                            <option>12</option>
                                            <option>8</option>
                                            <option>6</option>
                                        </select>
                                    </div>
                                    <span>на странице</span>
                                </div>
                                <span class='vid'>
                                    <span>Вид:</span>
                                    <span class="change_look plitka plitka_red"></span>
                                    <span class="change_look spisok"></span>
                                </span>
                            </div>

                            <div class="catalog_items catalog_main_block">
                                {% if products %}
                                    <ul>
                                        {% for product in products %}
                                            {% basket_form request product as basket_form %}
                                            <form id="add_to_basket_form_{{ product.id }}"
                                                  name="add_to_basket_form"
                                                  style="display: none;"
                                                  action="{% url 'basket:add' pk=product.pk %}"
                                                  method="post"
                                                  class="add-to-basket">{% csrf_token %}
                                                {% include "partials/form_fields.html" with form=basket_form %}
                                            </form>
                                            <li>
                                                <div class="catalog_item_block {% if product.is_discountable or product.special_offer %}before_akcia {% elif product.new %}before_new {% elif product.top_sale %} before_hit{% elif product.recommended %} before_rec{% elif product.super_price %} before_superprice{% endif %} free_shipping">
                                                    {% if product.gift %}
                                                        <div class="before_gift"></div>
                                                    {% endif %}
                                                    {% if product.free_shipping %}
                                                        <div class="before_free"></div>
                                                    {% endif %}
                                                    {% thumbnail product.primary_image.original "155" as thumb %}
                                                        <a href="{{ product.get_absolute_url }}">
                                                            <img src="{{ thumb.url }}">
                                                        </a>
                                                    {% endthumbnail %}
                                                    <p class="catalog_item_block_caption">
                                                        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                                    </p>
                                                    <div class="for_list_block">
                                                        <select class="rating_photo">
                                                            {% for num in "012345" %}
                                                                <option {% if product.rating == num %}selected="selected"{% endif %}
                                                                        value="{{ num }}">{{ num }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <p class="rating_number"><span>{% if product.rating %}
                                                            {{ product.rating|floatformat }}{% else %}
                                                            0{% endif %}
                                                            /</span>5 ( голосов
                                                            <span>{{ product.num_approved_reviews }}</span>)
                                                        </p>
                                                        <hr>
                                                        {% purchase_info_for_product request product as session %}


                                                        {% if session.availability.is_available_to_buy %}
                                                            <p class="line_through">
                                                            {% if session.price.previous %}
                                                                {{ session.price.previous|floatformat|humanize_price }} <span>{{ session.price.currency|format_currency }}</span> </p>
                                                            {% endif %}
                                                            <p class="catalog_item_price">
                                                                {% if session.price.is_tax_known %}
                                                                    {{ session.price.incl_tax|floatformat|humanize_price }} <span>{{ session.price.currency|format_currency }}</span>
                                                                {% else %}
                                                                    {{ session.price.excl_tax|floatformat|humanize_price }} <span>{{ session.price.currency|format_currency }}</span>
                                                                {% endif %}</p>
                                                            {% if request.session.compare_list and product.id in request.session.compare_list %}
                                                                <a href="#!"
                                                                   class="compare_button compare_button_added">В
                                                                    сравнении</a>
                                                            {% else %}
                                                                <a href="#!"
                                                                   data-compare-url="{% url 'compare' %}"
                                                                   class="compare_button"
                                                                   data-product-id="{{ product.id }}">Сравнить</a>


                                                            {% endif %}
                                                            {% if product.id in request.basket %}
                                                                <a href="#" class="buy_button buy_button_bougth">Нет в наличии</a>
                                                            {% endif %}
                                                            <a href="#"
                                                               class="buy_button show_popup"
                                                               data-rel="buy_button_modal"
                                                               data-product-id="{{ product.id }}">Нет
                                                                в наличии</a>
                                                        {% else %}
                                                            <p class="catalog_item_price not_active_price">
                                                                {% if session.price.is_tax_known %}
                                                                    {{ session.price.incl_tax|floatformat|humanize_price }} <span>{{ session.price.currency|format_currency }}</span>
                                                                {% else %}
                                                                    {{ session.price.excl_tax|floatformat|humanize_price }} <span>{{ session.price.currency|format_currency }}</span>
                                                                {% endif %}</p>
                                                            {% if request.session.compare_list and product.id in request.session.compare_list %}
                                                                <a href="#!"
                                                                   class="compare_button compare_button_added">В
                                                                    сравнении</a>
                                                            {% else %}
                                                                <a href="#!"
                                                                   data-compare-url="{% url 'compare' %}"
                                                                   class="compare_button"
                                                                   data-product-id="{{ product.id }}">Сравнить</a>


                                                            {% endif %}
                                                            <a href="#"
                                                               class="buy_button but_button_sold">Нет
                                                                в
                                                                наличии</a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="catalog_item_info">
                                                        {% for av in product.attribute_values.all %}
                                                            <p>{{ av.attribute.name }}:
                                                                <span>{% if av.value_option %}
                                                                    {{ av.value_option.option }}{% else %}
                                                                    {{ av.value_as_html }}{% endif %}</span>.
                                                            </p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                {% else %}
                                    <p class="search_nothing_here">Ничего не
                                        найдено</p>
                                {% endif %}

                            </div>

                            {% if paginator.num_pages > 1 %}
                                <a href="#" class="look_more">Смотреть еще <img src="img/catalog/more.png" alt=""></a>
                                <nav aria-label="Page navigation"
                                     class="page_nav">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}

                                            <li>
                                                <a href="{% url_replace page=page_obj.previous_page_number %}"
                                                   aria-label="Previous">
                                                <span aria-hidden="true"
                                                      class="marker_prev">.</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="#"
                                                   aria-label="Previous">
                                                <span aria-hidden="true"
                                                      class="marker_prev">.</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for i in paginator.page_range %}
                                            {% if page_obj.number == i %}
                                                <li class="active"><a
                                                        href="#!">{{ i }} <span
                                                        class="sr-only">(current)</span></a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{% url_replace page=i %}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li>
                                                <a href="{% url_replace page=page_obj.next_page_number %}"
                                                   aria-label="Next">
                                                <span aria-hidden="true"
                                                      class="marker_next">.</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="#" aria-label="Next">
                                                <span aria-hidden="true"
                                                      class="marker_next">.</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}


                        </div>
                    </div>
                </div>
                {% if similar_products %}
                    <p class="category_block_caption before_owl">
                        Вас
                        также могут заинтересовать</p>
                    <div class="owl-carousel owl-theme catalog_owl">
                        {% for product in similar_products %}
                            <div class="item">
                                {% basket_form request product as basket_form %}
                                <form id="add_to_basket_form_{{ product.id }}"
                                      name="add_to_basket_form"
                                      style="display: none;"
                                      action="{% url 'basket:add' pk=product.pk %}"
                                      method="post"
                                      class="add-to-basket">{% csrf_token %}
                                    {% include "partials/form_fields.html" with form=basket_form %}
                                </form>
                                <div class="catalog_item_block">
                                    <input type="text"
                                           style="display: none;"
                                           value="{{ product.upc }}"
                                           name="upc">
                                    <input type="text"
                                           style="display: none;"
                                           value="{{ product.id }}"
                                           name="id">
                                    <a href="{{ product.get_absolute_url }}">
                                        {% thumbnail product.primary_image.original "155" as img %}
                                            <img src="{{ img.url }}">
                                        {% endthumbnail %}
                                        <div class="block155h"></div>
                                        <p class="catalog_item_block_caption">{{ product.product_class.name }} {{ product.title }}</p>
                                        <select class="rating_photo">
                                            {% for num in "012345" %}
                                                <option {% if product.rating == num %}selected="selected"{% endif %}
                                                        value="{{ num }}">{{ num }}</option>
                                            {% endfor %}
                                        </select>
                                        <p class="rating_number">Отзывов:
                                            <span>{{ product.num_approved_reviews }}</span>
                                        </p>
                                        <hr>
                                        {% purchase_info_for_product request product as session %}
                                        <p class="catalog_item_price">
                                            {{ session.price.incl_tax|floatformat|humanize_price }}
                                            <span>{{ session.price.currency|format_currency }}</span>
                                        </p>
                                        {% if session.availability.is_available_to_buy %}
                                            <a href="{{ product.get_absolute_url }}"
                                               class="buy_button show_popup"
                                               data-rel="buy_button_modal"
                                               data-product-id="{{ product.id }}">Купить</a>
                                        {% else %}
                                            <a href="{{ product.get_absolute_url }}"
                                               class="buy_button show_popup"
                                               data-rel="buy_button_modal">Нет в
                                                наличии</a>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if recently_viewed_products %}
                    {% include 'defro/recently_viewed_products.html' %}
                {% endif %}


                {% if filter_descr %}
                    <p class="category_block_caption before_owl">{{ filter_descr.title }}</p>
                    <div>
                        <div id="tovar_desc">
                            {{ filter_descr.description|safe }}
                        </div>
                        <a class="read-next" href="#">Подробнее</a>
                    </div>
                {% elif category %}
                    <p class="category_block_caption before_owl">
                        {% if category.description_title %}
                            {{ category.description_title }}
                        {% else %}
                            {{ category.name }}
                        {% endif %}
                    </p>
                    <div>
                        <div id="tovar_desc">
                            {{ category.description|safe }}
                        </div>
                        <a class="read-next" href="#">Подробнее</a>
                    </div>
                {% endif %}

            </div>

        </div>
    </div>

    {{ block.super }}

{% endblock content %}

{% block shadow %}
    <div class='modal_mobile_sort'>
        <h2>Сортировать:<span class="close"></span></h2>
        <div class="custom_select">
            <form method="get">
                {{ form.sort_by }}
                <button type="submit" id="mobile_sort_submit">Сортировать</button>
            </form>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{% get_static 'js/jquery.ui-slider.js' %}"></script>
    <script src="{% get_static 'js/script-slider-UI.js' %}"></script>
    <script src="{% get_static 'js/script-for-catalog.js' %}"></script>
    <script src="{% get_static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% get_static 'js/jquery.barrating.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.rating_photo').barrating({
                theme: 'fontawesome-stars'
            });
            $(".br-widget a:first-child").css( "display", "none" );
            side_hover();
            $(window).resize(function() {
                side_hover();
            });
        });
    </script>
    <script src="{% get_static 'js/more-button.js' %}"></script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
