{% extends 'defro/base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load purchase_info_tags %}
{% load site_static %}
{% load thumbnail %}
{% load basket_tags %}

{% block title %}
    {{ category.name }} | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main_block clear_fix">
            {% include 'defro/partials/side_menu.html' %}
            <ol class="breadcrumb">
                <li><a href="/"><img src="{% get_static 'img/home.png' %}"
                                     alt=""></a></li>
                    {% for c in category.get_ancestors_and_self %}
                        <li>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
            </ol>
                <div class="category_block">
                    <p class="category_block_caption">{{ category.name }}</p>
                    <ul>
                    {% if subcat %}
                        {% for cat in subcat %}
                            <li>
                                <a href="{{ cat.get_absolute_url }}">
                                    {% if cat.image %}
                                        <img src="{{ cat.image.url }}" alt="">
                                    {% endif %}
                                    <p>{{ cat.name }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for product in products %}
                                            {% basket_form request product as basket_form %}
                                            <form id="add_to_basket_form_{{ product.id }}"
                                                  name="add_to_basket_form"
                                                  style="display: none;"
                                                  action="{% url 'basket:add' pk=product.pk %}"
                                                  method="post"
                                                  class="add-to-basket">{% csrf_token %}
                                                {% include "partials/form_fields.html" with form=basket_form %}
                                            </form>
                                            <li>
                                                <div class="catalog_item_block {% if product.is_discountable or product.special_offer %}before_akcia {% elif product.new %}before_new {% elif product.top_sale %} before_hit{% elif product.recommended %} before_rec{% elif product.super_price %} before_superprice{% endif %} free_shipping">
                                                    {% if product.gift %}
                                                        <div class="before_gift"></div>
                                                    {% endif %}
                                                    {% if product.free_shipping %}
                                                        <div class="before_free"></div>
                                                    {% endif %}
                                                    <img src="{{ product.primary_image.original.url }}"
                                                         alt="">
                                                    <p class="catalog_item_block_caption">
                                                        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                                    </p>
                                                    <div class="for_list_block">
                                                        <select class="rating_photo">
                                                            {% for num in "12345" %}
                                                                <option {% if product.rating == num %}selected="selected"{% endif %}
                                                                        value="{{ num }}">{{ num }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <p class="rating_number"><span>{% if product.rating %}
                                                            {{ product.rating }}{% else %}
                                                            0{% endif %}
                                                            /</span>5 ( голосов
                                                            <span>{{ product.num_approved_reviews }}</span>)
                                                        </p>
                                                        <hr>
                                                        {% purchase_info_for_product request product as session %}


                                                        {% if session.availability.is_available_to_buy %}
                                                            <p class="line_through">
                                                                {% if session.price.is_tax_known %}
                                                                    {{ session.price.incl_tax|currency:session.price.currency }}
                                                                {% else %}
                                                                    {{ session.price.excl_tax|currency:session.price.currency }}
                                                                {% endif %} </p>
                                                            <p class="catalog_item_price">
                                                                {% if session.price.is_tax_known %}
                                                                    {{ session.price.incl_tax|currency:session.price.currency }}
                                                                {% else %}
                                                                    {{ session.price.excl_tax|currency:session.price.currency }}
                                                                {% endif %}</p>
                                                            {% if request.session.compare_list and product.id in request.session.compare_list %}
                                                                <a href="#!"
                                                                   class="compare_button compare_button_added">В
                                                                    сравнении</a>
                                                            {% else %}
                                                                <a href="#!"
                                                                   data-compare-url="{% url 'compare' %}"
                                                                   class="compare_button"
                                                                   data-product-id="{{ product.id }}">Сравнить</a>


                                                            {% endif %}
                                                            <a href="#"
                                                               class="buy_button show_popup"
                                                               data-product-id="{{ product.id }}"
                                                               rel="buy_button_modal">Нет
                                                                в наличии</a>
                                                        {% else %}
                                                            <p class="catalog_item_price not_active_price">
                                                                {% if session.price.is_tax_known %}
                                                                    {{ session.price.incl_tax|currency:session.price.currency }}
                                                                {% else %}
                                                                    {{ session.price.excl_tax|currency:session.price.currency }}
                                                                {% endif %}</p>
                                                            {% if request.session.compare_list and product.id in request.session.compare_list %}
                                                                <a href="#!"
                                                                   class="compare_button compare_button_added">В
                                                                    сравнении</a>
                                                            {% else %}
                                                                <a href="#!"
                                                                   data-compare-url="{% url 'compare' %}"
                                                                   class="compare_button"
                                                                   data-product-id="{{ product.id }}">Сравнить</a>


                                                            {% endif %}
                                                            <a href="#"
                                                               class="buy_button but_button_sold">Нет
                                                                в
                                                                наличии</a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="catalog_item_info">
                                                        {% for av in product.attribute_values.all %}
                                                            <p>{{ av.attribute.name }}:
                                                                <span>{{ av.value_as_html }}</span>.
                                                            </p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>
        </div>
    </div>
    {{ block.super }}
{% endblock content %}