{% extends 'defro/base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load purchase_info_tags %}
{% load site_static %}
{% load thumbnail %}
{% load basket_tags %}
{% load meta_tags %}

{% block title %}{% meta_tag page_type 'title' category request %}{% endblock title %}

{% block title_meta %}{% meta_tag page_type 'title_meta' category request %}{% endblock title_meta %}

{% block description %}{% meta_tag page_type 'description_meta' category request %}{% endblock description %}

{% block content %}
    <div class="container main_container compare_container default_container">
        <div class="main_block clear_fix">
            <div class="left_side default_left_side">
                {% include 'defro/partials/side_menu.html' %}
            </div>
            <ol class="breadcrumb">
                <li><a href="/"><img src="{% get_static 'img/home.png' %}"
                                     alt=""></a></li>
                    {% for c in category.get_ancestors_and_self %}
                        {% if c == category %}
                            <li class="active">{{ c.name }}</li>
                        {% else %}
                            <li>
                                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
            </ol>
                <div class="category_block">
                    <p class="category_block_caption">{{ category.name }}</p>
                    <ul>
                        {% for cat in category.get_children.all %}
                            <li>
                                <a href="{{ cat.get_absolute_url }}" style="line-height: 200px;">
                                    {% if cat.image %}
                                        <img src="{{ cat.image.url }}" alt="{{ cat.name }}">
                                    {% endif %}
                                </a>
                                <p>{{ cat.name }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <p class="category_block_caption before_owl">
                    {% if category.description_title %}
                        {{ category.description_title }}
                    {% else %}
                        {{ category.name }}
                    {% endif %}
                </p>
                <div style="height:100%" id="category_descr">
                    <div id="short_desc">
                        {{ category.description|truncatechars_html:1500|safe }}
                    </div>
                    <div id="tovar_desc">
                        {{ category.description|safe }}
                    </div>
                    <a class="read-next" href="#">Подробнее</a>
                </div>
        </div>
    </div>
    {{ block.super }}
{% endblock content %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{% get_static 'js/jquery.ui-slider.js' %}"></script>
    <script src="{% get_static 'js/script-slider-UI.js' %}"></script>
    <script src="{% get_static 'js/script-for-catalog.js' %}"></script>
    <script src="{% get_static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% get_static 'js/jquery.barrating.min.js' %}"></script>
    <script src="{% get_static 'js/more-button.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            side_hover();
            $(window).resize(function() {
                side_hover();
            });
        });
    </script>
{% endblock %}