{% extends 'defro/base.html' %}
{% load thumbnail %}
{% load site_static %}
{% load history_tags %}
{% load currency_filters %}
{% load currency_tags %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}

{% block title %}Таблица сравнений{% endblock %}

{% block header_class %}
<div class="header fixed">
{% endblock %}

{% block content %}
    <div>
        <div class="container compare_container default_container">
            <div class="main_block clear_fix compare_main_block">
                <div class="left_side default_left_side">
                    {% include 'defro/partials/side_menu.html' %}
                </div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/"><img src="{% get_static 'img/home.png' %}"
                                         alt="" class="solo_img"></a>
                    <li class="active">Сравнение товаров</li>
                    </li>
                </ul>

                <div class="compare_block_table">
                    <p class="category_block_caption">Вы сравниваете {{ category.name }}</p>

                    <div class="compare_table_add">
                        <p class="compare_table_number">Добавлено
                            товаров:
                            <span>{{ products|length }}</span></p>
                        <a href="{{ category.get_absolute_url }}"
                           class="compare_table_add_button">Добавить
                            еще один товар</a>
                        <a href="#" class="compare_table_clean_button"
                           data-category-pk="{{ category.pk }}"
                           data-remove-url="{% url 'remove_category_from_compare_list' %}">Очистить
                            все</a>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a
                                    href="#all_parame"
                                    aria-controls="all_parame"
                                    role="tab"
                                    data-toggle="tab">Все параметры</a>
                            </li>
                            <li role="presentation">
                                <a href="#only_dif" aria-controls="only_dif" role="tab" data-toggle="tab">Только отличия</a>
                            </li>
                        </ul>
                    </div>

                    <div class="scrollbar-inner compare_scroll">
                        <ul class="compare_ul">
                            {% for product in products %}
                                <li>
                                <div class="catalog_item_block">
                                    {% thumbnail product.primary_image.original "155" as thumb %}
                                        <img src="{{ thumb.url }}" alt="" style="width: 155px; height: 155px;">
                                    {% endthumbnail %}
                                    <div class="block155h"></div>
                                    <p class="catalog_item_block_caption">{{ product.product_class.name }} {{ product.title }}</p>
                                    <div class="for_list_block">
                                        <select class="rating_photo">
                                            {% for num in "012345" %}
                                                <option {% if product.rating == forloop.counter0 %}selected="selected"{% endif %}
                                                        value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                                            {% endfor %}
                                        </select>
                                        <p class="rating_number"><span>{% if product.rating %}
                                            {{ product.rating|floatformat }}{% else %}
                                            0{% endif %}</span>/5 ( голосов
                                            <span>{{ product.num_approved_reviews }}</span>)
                                        </p>
                                        <hr>
                                        {% purchase_info_for_product request product as session %}
                                        {% if session.availability.is_available_to_buy %}
                                            <p class="line_through">
                                                {% if session.price.previous %}
                                                {{ session.price.previous|floatformat|humanize_price }}
                                                <span>{{session.price.currency|format_currency }}</span>
                                                {% endif %}
                                            </p>
                                            <p class="catalog_item_price">
                                                {% if session.price.is_tax_known %}
                                                    {{ session.price.incl_tax|floatformat|humanize_price}}
                                                    <span>{{session.price.currency|format_currency }}</span>
                                                {% else %}
                                                    {{ session.price.excl_tax|floatformat|humanize_price }}
                                                    <span>{{session.price.currency|format_currency }}</span>
                                                {% endif %}</p>
                                            <a href="#"
                                               class="buy_button show_popup"
                                               data-rel="buy_button_modal"
                                               data-product-id="{{ product.id }}">Купить</a>
                                        {% else %}
                                            <p class="sold_out">
                                                Нет в наличии</p>
                                            <p class="catalog_item_price naliche_net dpn">
                                                {% if session.price.is_tax_known %}
                                                    {{ session.price.incl_tax|floatformat|humanize_price}}
                                                    <span>{{session.price.currency|format_currency }}</span>
                                                {% else %}
                                                    {{ session.price.excl_tax|floatformat|humanize_price}}
                                                    <span>{{session.price.currency|format_currency }}</span>
                                                {% endif %}</p>

                                        {% endif %}
                                    </div>
                                    <a href="#" class="close_compare"
                                       data-product-id="{{ product.id }}"
                                       data-remove-url="{% url 'remove_from_compare_list' %}"></a>
                                </div>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="compare_table_tab_content">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="all_parame">
                                    <table class="table_main_har">
                                        {% for attr_name, attr_values in attributes %}
                                            <tr>
                                                <th style="width:300px !important; display: inline-block; float: left">{{ attr_name }} </th>
                                                {% for value in attr_values %}
                                                    <th style="width:260px; display: inline-block; float: left">{{ value }}</th>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="only_dif">
                                    <table class="table_main_har">
                                        {% for attr_name, attr_values in unique_attributes %}
                                            <tr>
                                                <th style="width:300px">{{ attr_name }} </th>
                                                {% for value in attr_values %}
                                                    <th {% if forloop.counter == 1 %}style="width:260px"{% endif %}>{{ value }}</th>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block extrascripts %}
    <script src="{% get_static 'js/jquery.ui-slider.js' %}"></script>
    <script src="{% get_static 'js/script-slider-UI.js' %}"></script>
    <script src="{% get_static 'js/script-for-catalog.js' %}"></script>
    <script src="{% get_static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% get_static 'js/jquery.barrating.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.rating_photo').barrating({
                theme: 'fontawesome-stars'
            });
            $(".br-widget a:first-child").css( "display", "none" );
            side_hover();
            compare_scrolbar_on();
            // $(window).resize(function() {
            //     side_hover();
            // });
        });
        $(window).resize(function() {compare_scrolbar_on();side_hover();});
        function compare_scrolbar_on() {
            if($(window).width()<=992) {
               $('.scrollbar-inner').scrollbar();        
           }
        }
    </script>
    {{ block.super }}
{% endblock %}
