{% extends 'defro/base.html' %}

{% load site_static %}
{% load i18n %}

{% block title %}{% trans "Контакты" %}{% endblock %}

{% block content %}
    <div class="container main_container  compare_container default_container">
        <div class="main_block clear_fix">
            <div class="left_side default_left_side">
                {% include 'defro/partials/side_menu.html' %}
            </div>

            <ol class="breadcrumb">
                <li><a href="/"><img src="{% get_static 'img/home.png' %}"
                                     alt=""
                                     class="solo_img"></a></li>
                <li class="active">{% trans "Контакты" %}</li>
            </ol>
            <div class="main_content contact_content">
                <div class="row">
                    <h1>{% trans "Наши контакты" %}</h1>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <ul class="nav nav-tabs contact_tab" role="tablist">
                            {% for city in cities %}
                            <li role="presentation" class="{% if current_city == city.slug %}active{% endif %}"><a
                                    href="#{{ city.slug }}"
                                    role="tab"
                                    data-toggle="tab">{{ city.city_name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 contacts_main_info">
                        <div class="tab-content">
                            {% for city in cities %}
                            <div role="tabpanel" class="tab-pane {% if current_city == city.slug %}active{% endif %}" id="{{ city.slug }}">
                                <div class="contacts_info_block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="contacts_info_caption">{% trans "Адрес нашего офиса" %}</p>
                                    <p class="contacts_info_text contacts_adress">
                                        г. {{ city.city_name }}, {{ city.address }}
                                    </p>
                                    <p class="contacts_info_caption phone_caption">
                                        {% trans "Наши телефоны" %}
                                    </p>
                                    <ul class="contacts contacts_info_phone">
                                        {% if city.phones %}
                                            {% for phone in city.phones.all %}
                                                {% if phone.operator == 'kievstar' %}
                                                <li>
                                                    <a href="tel:{{ phone }}" class="{{ phone.operator }}"><span>({{ phone.get_national_format|slice:':3' }})</span> {{ phone.get_national_format|slice:'4:' }}</a>
                                                </li>
                                                {% endif %}
                                                {% if phone.operator == 'vodafone' %}
                                                    <li>
                                                        <a href="tel:{{ phone }}" class="{{ phone.operator }}"><span>({{ phone.get_national_format|slice:':3' }})</span> {{ phone.get_national_format|slice:'4:' }}</a>
                                                    </li>
                                                {% endif %}
                                                {% if phone.operator == 'life' %}
                                                    <li>
                                                        <a href="tel:{{ phone }}" class="{{ phone.operator }}"><span>({{ phone.get_national_format|slice:':3' }})</span> {{ phone.get_national_format|slice:'4:' }}</a>
                                                    </li>
                                                {% endif %}
                                                {% if phone.operator == 'cityphone' %}
                                                    <li>
                                                        <a href="tel:{{ phone }}" class="{{ phone.operator }}"><span>({{ phone.get_national_format|slice:':3' }})</span> {{ phone.get_national_format|slice:'4:' }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                    <p class="contacts_info_caption">
                                        {% trans "График работы" %}
                                    </p>
                                    <p class="contacts_info_text contacts_grafik">
                                        {% if city.timetables %}
                                            {% for timetable in city.timetables.all %}
                                                {{ timetable.weekdays }}: <span>{{ timetable.daytime }}</span><br />
                                            {% endfor %}
                                        {% else %}
                                            <p>{% trans "Пн.-Пт.:" %}
                                                <span> {% trans "с 9:00 до 18:00" %}</span>
                                            </p>
                                            <p>{% trans "Сб:" %}<span> {% trans "с 9:00 до 15:00" %}</span>
                                            </p>
                                        {% endif %}
                                    </p>
                                    <p class="contacts_info_caption">{% trans "Заказ через корзину 24/7/365:" %}</p>
                                    <p class="fast_delivery_text">
                                        {% trans "Ночные заказы обрабатываются с 9:00 до 11:00" %}
                                    </p>
                                </div>
                                <div class="contacts_form col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="contacts_info_caption">{% trans "Форма обратной связи" %}</p>
                                    <form action="{% url 'contact_message' %}"
                                          method="post">{% csrf_token %}
                                        <label>{% trans "Ваше имя" %} <span
                                                class="red_star">*</span></label>
                                        {% if form.name.errors %}
                                            <p>
                                            {{ form.name.errors }}
                                            </p>
                                        {% endif %}
                                        <input type="text" name="name">
                                        <label>{% trans "Ваш email" %} <span
                                                class="red_star">*</span></label>
                                        {% if form.email.errors %}
                                            <p>
                                            {{ form.email.errors }}
                                            </p>
                                        {% endif %}
                                        <input type="email" name="email">
                                        <label>{% trans "Ваш телефон" %} <span
                                                class="red_star">*</span></label>
                                        {% if form.phone.errors %}
                                            <p>
                                            {{ form.phone.errors }}
                                            </p>
                                        {% endif %}
                                        <input type="text" name="phone">
                                        <label>{% trans "Сообщение" %} <span>
                                                class="red_star">*</span></label>
                                        {% if form.message.errors %}
                                            <p>
                                            {{ form.message.errors }}
                                            </p>
                                        {% endif %}
                                        <textarea name="message"></textarea>
                                        <p class="contact_comment_pole">
                                            <span class="red_star">*</span> - {% trans "поля обязательные для заполнения" %}</p>
                                        <input type="submit" value="{% trans 'Отправить сообщение' %}">
                                    </form>
                                </div>
                                <div class="contacts_map col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p>
                                        {% blocktrans %}
                                            Доставка в любой город Украины
                                            перевозчиком "Интайм" или "Новая почта", оплата после
                                            получения!
                                        {% endblocktrans %}
                                    </p>
                                    <iframe src="https://www.google.com/maps/embed/v1/place?q=г.{{ city.city_name }}_{{ city.address|cut:' ' }}&key={{ city.google_maps_api_key }}"
                                            width="880" height="580"
                                            style="border:0"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block extrascripts %}
    <script>
        $(document).ready(function(){
            side_hover();
            $(window).resize(function() {
                side_hover();
            });
        });
    </script>
    {{ block.super }}
{% endblock %}