{% extends 'defro/base.html' %}
{% load site_static %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    <div class="first_block">
			<div class="container">
						<div class="left_side">
							 <a class="left_side_caption" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
							  Каталог товаров
							</a>
							<div class="collapse in" id="collapseExample">
							  <div class="well">

							 <ul class="left_menu">
							 	<li>
                                {% for productClass in product_classes %}
									<div class="dropdown">
                                            <a href="#" class="btn btn-default dropdown-toggle" id="dropdownMenu{{ forloop.counter0|add:"3" }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											    {{ productClass.name }}
										    </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ forloop.counter0|add:"3" }}">
                                            {% if categories %}
                                                {% for category in categories %}
                                                <li class="clear_fix">
                                                {% if category.image %}
                                                    <img src="{{ category.image.url }}" alt="">
                                                {% endif %}
												<div class="menu_item_links">
                                                    <a href="{{ category.get_absolute_url }}" class="menu_item_caption">{{ category.name }}</a>
                                                    {% for product in productClass.products.all %}
                                                        {% if category in product.categories.all %}
                                                            <a href="{{ product.get_absolute_url }}" class="menu_item_list">{{ product.title }}</a>
                                                        {% endif %}
                                                    {% endfor %}
												</div>
											</li>
                                            {% endfor %}
                                            {% endif %}
                                            </ul>
									</div>
                                {% endfor %}
							 	</li>
							 </ul>
							</div>
							</div>

							 <ul class="under_left_menu">
							 	<li>Тщательно продуманная автоматическая
								система сжигания угля позволяет
								экономить до 50% топлива</li>
								<li>Котел требует обслуживания не чаще
								1-2 раз в неделю, при этом обслуживание
								занимает не более 10 минут</li>
								<li>Автоматика и конструкция котла
								обеспечивают максимальную
								безопасность при эксплуатации котла
								и его обслуживании</li>
								<li>Комнатный контроллер позволит задать
								нужную температуру в доме не заходя
								в котельное помещение</li>
							 </ul>
							<a href="#" class="under_left_menu_more">Узнать подробнее</a>

						</div>
						<div class="right_side">
							<h1>Высокое качество</h1>
							<p>Экономичность</p>
						</div>
			</div>
		</div>

		<div class="second_block">
			<div class="container">
				<h2><span>Наши</span> продукты</h2>
				<div class="owl-carousel owl-theme">

                    {% for product in our_products %}
                        <div class="item">
                        <a href="{{ product.get_absolute_url }}">
                            <p>{{ product.title }}</p>
                            {% thumbnail product.primary_image.original "155" as img %}
                                    <img src="{{ img.url }}">
                            {% endthumbnail %}
                        </a>
					    </div>
                    {% endfor %}

				</div>

			</div>
		</div>

		<div class="third_block">
			<div class="container">
				<h3>Сравнительный РАСЧЕТ</h3>
				<p class="under_caption">СЕЗОННЫХ ЗАТРАТ НА ОТОПЛЕНИЕ газом, электричеством и твердым топливом</p>
				<p class="desc">Введите в калькулятор данные по площади, высоте потолка, утепленности вашего жилья и узнайте, <br>
сколько ваших денег сбережет установка котла DEFRO</p>
				<div class="calculator">
					<div class="top_and_bot_block">
						<p class="cpecial">Исходные данные</p>
					</div>
					<div class="other_blocks">
						<p>Отапливаемая площадь</p>
						<div class="right_side">
							<input type="text" value="100"> <span>м.кв</span>
						</div>
					</div>
					<div class="other_blocks">
						<p>Теплопотери здания</p>
						<div class="right_side">
							<label class="select_box">
							    <select>
							        <option>Утепленный</option>
							        <option>Утепленный1</option>
							        <option>Утепленный2</option>
							    </select>
							</label>
							<span>Вт/м.кв</span>
						</div>
					</div>
					<div class="other_blocks">
						<p class="cpecial">Длительность отопительного сезона</p>
						<p class="for_ua">для Украины 187</p>
						<div class="right_side">
							<input type="text" value="187"> <span>суток</span>
						</div>
					</div>
					<div class="other_blocks">
						<p>Высота потолка</p>
						<div class="right_side">
							<input type="text" value="100"> <span>м.кв</span>
						</div>
					</div>
					<div class="other_blocks">
						<p>Месторасположение дома</p>
						<div class="right_side">
							<label class="select_box">
							    <select>
							        <option>Киевская</option>
							        <option>Киевская1</option>
							        <option>Киевская2</option>
							    </select>
							</label>
							 <span>область Украины</span>
						</div>
					</div>

					<div class="top_and_bot_block">
							<p>Итого на весь сезон необходимо:</p><p><span class="calculating">20 550,50</span>кВт/ч тепла</p><br>
							<p>Необходимая мощность котла:</p> <p><span class="calculating">8,50</span>кВт</p>
					</div>
				</div>

				<p class="stoimost">Стоимость различных видов топлива</p>
				<div class="calculator calculator_second">
						<div class="top_and_bot_block">
							<p class="cpecial">Вид топлива</p>
							<p class="cpecial">Необходимый объём</p>
							<p class="cpecial">Цена на топливо</p>
							<p class="cpecial">Затраты на отопление</p>
						</div>
						<div class="other_blocks">
							<div class="other_blocks_cell">
								<img src="{% get_static 'img/table/1.png' %}" alt="">
								<p>Дрова</p>
							</div>
							<div class="other_blocks_cell">
								<p>20,54 скл.м</p>
							</div>
							<div class="other_blocks_cell">
								<div class="right_side">
									<input type="text" value="420"> <span>грн/скл.м</span>
								</div>
							</div>
							<div class="other_blocks_cell">
								<p><span class="calculating">8 626,80</span> грн</p>
							</div>
						</div>
						<div class="other_blocks">
							<div class="other_blocks_cell">
								<img src="{% get_static 'img/table/2.png' %}" alt="">
								<p>Пеллеты</p>
							</div>
							<div class="other_blocks_cell">
								<p>20,54 скл.м</p>
							</div>
							<div class="other_blocks_cell">
								<div class="right_side">
									<input type="text" value="2600"> <span>грн/тонна</span>
								</div>
							</div>
							<div class="other_blocks_cell">
								<p><span class="calculating">8 626,80</span> грн</p>
							</div>
						</div>
						<div class="other_blocks">
							<div class="other_blocks_cell">
								<img src="{% get_static 'img/table/3.png' %}" alt="">
								<p>Каменный уголь</p>
							</div>
							<div class="other_blocks_cell">
								<p>20,54 скл.м</p>
							</div>
							<div class="other_blocks_cell">
								<div class="right_side">
									<input type="text" value="4700"> <span>грн/тонна</span>
								</div>
							</div>
							<div class="other_blocks_cell">
								<p><span class="calculating">8 626,80</span> грн</p>
							</div>
						</div>
						<div class="other_blocks">
							<div class="other_blocks_cell">
								<img src="{% get_static 'img/table/4.png' %}" alt="">
								<p>Бурый уголь</p>
							</div>
							<div class="other_blocks_cell">
								<p>20,54 скл.м</p>
							</div>
							<div class="other_blocks_cell">
								<div class="right_side">
									<input type="text" value="1230"> <span>грн/тонна</span>
								</div>
							</div>
							<div class="other_blocks_cell">
								<p><span class="calculating">8 626,80</span> грн</p>
							</div>
						</div>
						<div class="other_blocks">
							<div class="other_blocks_cell">
								<img src="{% get_static 'img/table/5.png' %}" alt="">
								<p>Газ</p>
							</div>
							<div class="other_blocks_cell">
								<p>20,54 скл.м</p>
							</div>
							<div class="other_blocks_cell">
								<div class="right_side">
									<input type="text" value="6,88"> <span>грн/м.куб</span>
								</div>
							</div>
							<div class="other_blocks_cell">
								<p><span class="calculating">8 626,80</span> грн</p>
							</div>
						</div>
						<div class="other_blocks">
							<div class="other_blocks_cell">
								<img src="{% get_static 'img/table/6.png' %}" alt="">
								<p>Электроэнергия</p>
							</div>
							<div class="other_blocks_cell">
								<p>20,54 скл.м</p>
							</div>
							<div class="other_blocks_cell">
								<div class="right_side">
									<input type="text" value="1,48"> <span>грн/кВт.ч</span>
								</div>
							</div>
							<div class="other_blocks_cell">
								<p><span class="calculating">8 626,80</span> грн</p>
							</div>
						</div>
						<div class="other_blocks">
							<div class="other_blocks_cell">
								<img src="{% get_static 'img/table/7.png' %}" alt="">
								<p>Дизельное топливо</p>
							</div>
							<div class="other_blocks_cell">
								<p>20,54 скл.м</p>
							</div>
							<div class="other_blocks_cell">
								<div class="right_side">
									<input type="text" value="20"> <span>грн</span>
								</div>
							</div>
							<div class="other_blocks_cell">
								<p><span class="calculating">8 626,80</span> грн</p>
							</div>
						</div>
				</div>

				<a href="#" class="choose_kotel">Подобрать котел согласно введенным данным</a>
			</div>
		</div>

		<div class="fourth_block">
			<div class="container">
				<h4><span>Преимущества котлов</span> DEFRO:</h4>
				<ul>
					<li class="clear_fix">
						<img src="{% get_static 'img/icons/1.png' %}" alt="">
						<p>Фирменная гарантия 4 года на герметичность водяной рубашки и 2 года на исправную работу котла.</p>
					</li>
					<li class="clear_fix">
						<img src="{% get_static 'img/icons/2.png' %}" alt="">
						<p>Теплообменник котла выполнен из сертифицированной котельной стали /тип. P265GH/ толщиной 6 мм. Сварка швов осуществлена на роботизированных станках.</p>
					</li>
					<li class="clear_fix">
						<img src="{% get_static 'img/icons/3.png' %}" alt="">
						<p>Высокая эффективность котла (КПД до 85%) гарантирует эффективное сгорание топлива, высокую экономичность и экологичность горения.</p>
					</li>
					<li class="clear_fix">
						<img src="{% get_static 'img/icons/4.png' %}" alt="">
						<p>Высокая эффективность котла (КПД до 85%) гарантирует эффективное сгорание топлива, высокую экономичность и экологичность горения.</p>
					</li>
					<li class="clear_fix">
						<img src="{% get_static 'img/icons/5.png' %}" alt="">
						<p>Контроллер управляет работой котла и системы отопления, нагревом горячей воды (подключение к 2 насосам и комнатному регулятору).</p>
					</li>
					<li class="clear_fix">
						<img src="{% get_static 'img/icons/6.png' %}" alt="">
						<p>Большая камера загрузки.</p>
					</li>
					<li class="clear_fix">
						<img src="{% get_static 'img/icons/7.png' %}" alt="">
						<p>Два режима работы - при разжигании и засыпании сверху (угольный штыб - время горения до 20 час.) или «традиционный» снизу (уголь, смесь угля и штыба, древесины, стружки);</p>
					</li>
					<li class="clear_fix">
						<img src="{% get_static 'img/icons/8.png' %}" alt="">
						<p>Многоточковая система подачи воздуха в топку и система очистки воздуха.</p>
					</li>
				</ul>
			</div>
		</div>

		<div class="fifth_block">
			<div class="container">
				<h5>Нужна рассрочка? - это не проблема</h5>
				<div class="banks">
					<div class="banks_logos">
					<img src="{% get_static 'img/banks/1.png' %}" alt="">
					<img src="{% get_static 'img/banks/2.png' %}" alt="">
					<img src="{% get_static 'img/banks/3.png' %}" alt="">
					<img src="{% get_static 'img/banks/4.png' %}" alt="">
					<img src="{% get_static 'img/banks/5.png' %}" alt="">
					</div>
					<p>Воспользуйтесь услугами наших банков-партнеров для получению кредита на покупку котла</p>
					<p>Так же не упустите возможность воспользоваться государственной программой</p>
					<p>компенсации 70% от стоимости твердотопливных котлов</p>
				</div>
					<form action="">
						<input type="text" placeholder="+38 (___) ___-__-__">
						<button>Оформить рассрочку</button>
					</form>

			</div>
		</div>

		<div class="sixth_block">
			<div class="container">
				<h6>Обзоры <span>и</span> отзывы:</h6>
				<div class="youtube_videos">
					<a href="#"><img src="{% get_static 'img/youtube.png' %}" alt=""></a>
					<a href="#"><img src="{% get_static 'img/youtube.png' %}" alt=""></a>
					<a href="#"><img src="{% get_static 'img/youtube.png' %}" alt=""></a>
				</div>

				<div class="slider">
					<ul class="bxslider">

						<li>
					  		<div class="slider_block clear_fix">
								<img src="{% get_static 'img/slider_img.png' %}" alt="">
								<p class="slider_name">Киреева Анжелика <span>домохозяйка</span></p>
								<p class="slider_date">12 Декабря 2016</p>
								<p class="slider_text">Мы с мужем имеем квартиру, а дом оснащали на случай «конца света». У нас там своя скважина, солнечные батареи и котел выбирали энергонезависимый. То есть основная фишка - полная автономия. В ситуации, когда электричества нет никакой (даже солнца) могут работать только котлы на дровах. Разводку по дому стальными трубами мы сделали еще при строительстве. Расчет мощности котла и установка заказывали в «Винтерм». Они и котла подбирали. Взяли мы польский с чугунными внутренностями, как более надежный. Всем спасибо! У нас там теперь можно легко ядерную зиму пересидеть!</p>
							</div>
						</li>
						<li>
					  		<div class="slider_block clear_fix">
								<img src="{% get_static 'img/slider_img.png' %}" alt="">
								<p class="slider_name">Киреева Анжелика <span>домохозяйка</span></p>
								<p class="slider_date">12 Декабря 2016</p>
								<p class="slider_text">Мы с мужем имеем квартиру, а дом оснащали на случай «конца света». У нас там своя скважина, солнечные батареи и котел выбирали энергонезависимый. То есть основная фишка - полная автономия. В ситуации, когда электричества нет никакой (даже солнца) могут работать только котлы на дровах. Разводку по дому стальными трубами мы сделали еще при строительстве. Расчет мощности котла и установка заказывали в «Винтерм». Они и котла подбирали. Взяли мы польский с чугунными внутренностями, как более надежный. Всем спасибо! У нас там теперь можно легко ядерную зиму пересидеть!</p>
							</div>
						</li>
						<li>
					  		<div class="slider_block clear_fix">
								<img src="{% get_static 'img/slider_img.png' %}" alt="">
								<p class="slider_name">Киреева Анжелика <span>домохозяйка</span></p>
								<p class="slider_date">12 Декабря 2016</p>
								<p class="slider_text">Мы с мужем имеем квартиру, а дом оснащали на случай «конца света». У нас там своя скважина, солнечные батареи и котел выбирали энергонезависимый. То есть основная фишка - полная автономия. В ситуации, когда электричества нет никакой (даже солнца) могут работать только котлы на дровах. Разводку по дому стальными трубами мы сделали еще при строительстве. Расчет мощности котла и установка заказывали в «Винтерм». Они и котла подбирали. Взяли мы польский с чугунными внутренностями, как более надежный. Всем спасибо! У нас там теперь можно легко ядерную зиму пересидеть!</p>
							</div>
						</li>
						<li>
					  		<div class="slider_block clear_fix">
								<img src="{% get_static 'img/slider_img.png' %}" alt="">
								<p class="slider_name">Киреева Анжелика <span>домохозяйка</span></p>
								<p class="slider_date">12 Декабря 2016</p>
								<p class="slider_text">Мы с мужем имеем квартиру, а дом оснащали на случай «конца света». У нас там своя скважина, солнечные батареи и котел выбирали энергонезависимый. То есть основная фишка - полная автономия. В ситуации, когда электричества нет никакой (даже солнца) могут работать только котлы на дровах. Разводку по дому стальными трубами мы сделали еще при строительстве. Расчет мощности котла и установка заказывали в «Винтерм». Они и котла подбирали. Взяли мы польский с чугунными внутренностями, как более надежный. Всем спасибо! У нас там теперь можно легко ядерную зиму пересидеть!</p>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>

		<div class="seventh_block">
			<div class="container">
				<p class="caption"><span>ДОПОЛНИТЕЛЬНЫЕ</span> УСЛУГИ</p>
				<p class="desc">Кроме продажи оборудования мы можем предложить так же <br> его монтаж и запуск</p>
				<ul>
					<li>Заявка на сайте или звонок</li>
					<li>Выезд мастера</li>
					<li>Составление договора</li>
					<li>Монтаж котла</li>
					<li>Запуск системы отопления</li>
				</ul>
			</div>
		</div>

		<div class="eighth_block">
			<div class="container">
				<p class="caption"><span>схема</span> доставки <span>и</span> оплаты:</p>
				<p class="desc">Доставка товара осуществляется по всей территории Украины</p>

				<img src="{% get_static 'img/delivery/car.png' %}" alt="">
				<p class="list_caption">Доставка товара может быть осуществлена следующим образом:</p>
				<ul class="main_ul first_ul">
					<li>
						<p class="list_name">СПОСОБЫ ДОСТАВКИ</p>
						<p class="list_text">Доставка товара осуществляется по всей территории Украины и может быть произведена с помощью следующих транспортных компаний: <span>Новая <span>Почта</span>, <span>Интайм</span>, <span>Деливери</span>, Мист Экспресс</span>. По согласованию с покупателем возможна доставка нашим транспортом или "попутным грузом". Также есть возможность самовывоза товара.</p>
					</li>
					<li>
						<p class="list_name">ОПЛАТА</p>
						<p class="list_text">Все расходы, связанные с доставкой товара и оплатой наложенного платежа, оплачиваются непосредственно покупателем.
						Товары с акционной отметкой «Бесплатная доставка» отправляются бесплатно в любую точку Украины. Сроки действия акции уточняйте у менеджеров.</p>
					</li>
					<li>
						<p class="list_name">СРОКИ</p>
						<p class="list_text">С момента подтверждения заказа сроки его доставки в среднем составляют от 24 до 72 часов.</p>
					</li>
					<li>
						<p class="list_name">СТОИМОСТЬ</p>
						<p class="list_text">Расчет стоимости доставки осуществляется при оформлении заказа и в среднем составляет 4,5%-7% от общей стоимости товара. Ее величина зависит от типа продукции и адреса доставки.</p>
					</li>
				</ul>

				<img src="{% get_static 'img/delivery/money.png' %}" alt="">
				<p class="list_caption">Оплата товара может быть произведена следующими способами:</p>
				<ul class="main_ul second_ul">
					<li>
						<p class="list_name">БЕЗНАЛИЧНЫЙ РАСЧЕТ</p>
						<p class="list_text">После оформления заказа на Ваш электронный адрес будет выслан счет-фактура. Совершить оплату по нему Вы можете в отделении любого банка на территории Украины или с помощью интернет-банкинга <span>Приват 24</span>, <span>UniCredit Online</span> и т.д. Дополнительная комиссия здесь отсутствует.</p>
					</li>
					<li>
						<p class="list_name">НАЛИЧНЫЙ РАСЧЕТ</p>
						<p class="list_text">Наличный расчет позволяет без дополнительных комиссий произвести оплату:
							<span class="red_dot">в кассе при покупке товара непосредственно в магазине;</span>
							<span class="red_dot">курьеру в момент доставки товара по адресу;</span>
							<span class="red_dot">при самовывозе со склада.</span>
						</p>

					</li>
					<li>
						<p class="list_name">VISA / MASTERCARD</p>
						<p class="list_text">Оплата товара при помощи карты <span>Visa</span> или <span>Mastеrcard</span> позволяет совершать покупки в режиме реального времени. Выбирая данный метод оплаты, стоит учесть, что комиссия за перевод средств составляет 2% от стоимости заказа. Если на карте стоит ограничение на перевод средств, то общую сумму нужно разделить так, чтобы каждый платеж не превышал 2000 грн.</p>
					</li>
					<li>
						<p class="list_name">НАЛОЖЕННЫЙ ПЛАТЕЖ</p>
						<p class="list_text">Совершить оплату за товар Вы можете в национальной валюте в пункте выдачи транспортной компании. В таком случае к сумме оплаты будет добавлена комиссия в размере 3% от общей стоимости заказа.</p>
					</li>
				</ul>
			</div>
		</div>

		<div class="ninth_block">
			<p class="caption">Как с нами связаться</p>

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10152.64201863653!2d30.464266675051782!3d50.493970452650935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cd9276a07ab5%3A0xc636f250e41964f2!2z0LLRg9C70LjRhtGPINCh0LjRgNC10YbRjNC60LAsIDksINCa0LjRl9Cy!5e0!3m2!1sru!2sua!4v1487162479886" width="100%" height="700" frameborder="0" style="box-shadow: 0px -3px 10px -7px #000;" allowfullscreen></iframe>

				<div class="container">
					<div class="bottom_menu">
						<div class="menu_block">
							<p class="menu_block_caption">Помощь</p>
							<ul class="menu_block_items">
								<li><a href="#">Вопросы и ответы</a></li>
								<li><a href="#">Проблемы с заказом</a></li>
								<li><a href="#">Обратная связь</a></li>
								<li><a href="#">Монтаж и сервис</a></li>
							</ul>
						</div>
						<div class="menu_block">
							<p class="menu_block_caption">О нас</p>
							<ul class="menu_block_items">
								<li><a href="#">О компании</a></li>
								<li><a href="#">Сотрудничество</a></li>
								<li><a href="#">Условия использования сайта</a></li>
							</ul>
						</div>
						<div class="menu_block">
							<p class="menu_block_caption">Как связаться</p>
							<ul class="contact_ul">
                                {% if phone_numbers.kievstar %}
                                    <li><a href="tel:+0988598880">({{ phone_numbers.kievstar|first|slice:':3' }}) {{ phone_numbers.kievstar|first|slice:'4:' }}</a></li>
                                {% endif %}
                                {% if phone_numbers.vodafone %}
                                    <li><a href="tel:+0995598880">({{ phone_numbers.vodafone|first|slice:':3' }}) {{ phone_numbers.vodafone|first|slice:'4:' }}</a></li>
                                {% endif %}
                                {% if phone_numbers.life %}
                                    <li><a href="tel:+0931498880">({{ phone_numbers.life|first|slice:':3' }}) {{ phone_numbers.life|first|slice:'4:' }}</a></li>
                                {% endif %}
								<li><a href="#" class="predstav">Наши представительства</a></li>
							</ul>

							<div class="time_work">
								<p>Пн.-Пт.: <span> с 9:00 до 18:00</span></p>
								<p>Сб:<span> с 9:00 до 15:00</span></p>
								<a href="mailto:info@defro.org.ua/">info@defro.org.ua/</a>
							</div>
						</div>
						<div class="menu_block">
							<p class="menu_block_caption">Принимаем к оплате</p>
							<img src="{% get_static 'img/footer/master.png' %}" alt="">
							<img src="{% get_static 'img/footer/visa.png' %}" alt="">
						</div>
						<div class="grafik">
							<div class="time_work">
								<p class="grafik_caption">График работы call-центра</p>
								<p>Пн.-Пт.: <span> с 9:00 до 18:00</span></p>
								<p>Сб:<span> с 9:00 до 15:00</span></p>
								<p>Вс: <span> выходной</span></p>
							</div>
							<div class="time_work">
								<p class="grafik_caption">Заказ через корзину 24/7/365</p>
								<p class="grafik_special">Ночные заказы обрабатываются</p>
								<p>с 9:00 до 11:00</p>
							</div>

						</div>
					</div>

			</div>
			<div class="bottom_menu_bg">
			</div>
		</div>
{% endblock %}