{% extends 'defro/base.html' %}
{% load site_static %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
{% load url_tags %}
{% load solo_tags %}
{% load meta_tags %}

{% block title %}
	{% meta_tag 'MP' 'title' None request %}
{% endblock title %}

{% block title_meta %}
	{% meta_tag 'MP' 'title_meta' None request %}
{% endblock title_meta %}

{% block description %}
	{% meta_tag 'MP' 'description_meta' None request %}
{% endblock description %}

{% block content %}
    {% get_solo 'config.Configuration' as site_config %}
	<div class="first_block">
		<div class="container">
			<div class="left_side">
				{% include 'defro/partials/side_menu.html' with is_main_page=True expand=True %}
				<ul class="under_left_menu">
					<li>{{ text_one|safe }}</li>
					<li>{{ text_two|safe }}</li>
					<li>{{ text_three|safe }}</li>
					<li>{{ text_four|safe }}</li>
				</ul>
				{% if text_url %}
					<a href="{{ text_url }}" class="under_left_menu_more">Узнать подробнее</a>
				{% endif %}
			</div>
			<div class="right_side">
				<h1>Высокое качество</h1>
				<p>Экономичность</p>
			</div>
		</div>
	</div>

	<div class="second_block">
		<div class="container">
			<h2><span>Наши</span> продукты</h2>
			<div class="owl-carousel owl-theme">
				{% if side_menu %}
					{% for category in side_menu %}
						<div class="item" style="width: 150px;">
							<a href="{{ category.get_absolute_url }}">
								<p>{{ category.name }}</p>
								{% if category.image %}

										<img src="{{ category.image.url }}" alt="" style="width: 74px; height: 145px;">

								{% endif %}
							</a>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>

{% if site_config.show_calculator %}
	<div class="third_block">
		<div class="container">
			<h3>Сравнительный РАСЧЕТ</h3>
			<div class="more_info">
				<p class="under_caption">СЕЗОННЫХ ЗАТРАТ НА ОТОПЛЕНИЕ газом, электричеством и твердым топливом</p>
				<p class="desc">Введите в калькулятор данные по площади, высоте потолка, утепленности вашего жилья и узнайте, <br>
				сколько ваших денег сбережет установка котла DEFRO</p>
				<div class="calculator first_calc">
					<div class="top_and_bot_block">
						<p class="cpecial">Исходные данные</p>
					</div>

					<div class="other_blocks">
						<p>Отапливаемая площадь</p>
						<div class="right_side">
							<input id="t_square" type="text" value="100"> <span>м.кв</span>
						</div>
					</div>

					<div class="other_blocks">
						<p>Теплопотери здания</p>
						<div class="right_side">
							<label class="select_box">
								<select id="t_lose">
									<option id="lose_warm">{% trans "Утепленный" %}</option>
									<option id="lose_cold">{% trans "Неутепленный" %}</option>
								</select>
							</label>
						</div>
					</div>

					<div class="other_blocks" id="season">
						<p class="cpecial">Длительность отопительного сезона</p>
						<p class="for_ua">для Украины 187</p>
						<div class="right_side">
							<input id="t_period" type="text" value="187"> <span>суток</span>
						</div>
					</div>

					<div class="other_blocks">
						<p>Высота потолка</p>
						<div class="right_side">
							<input id="t_heigth" type="text" value="3"> <span>м</span>
						</div>
					</div>

					<div class="other_blocks">
						<p>Месторасположение дома</p>
						<div class="right_side">
							<label class="select_box">
								<select id="t_location">
									<option value='zone1'>{% trans "Киевская" %}</option>
									<option value='zone1'>{% trans "Черкасская" %}</option>
									<option value='zone1'>{% trans "Кирововградская" %}</option>
									<option value='zone1'>{% trans "Винницкая" %}</option>
									<option value='zone1'>{% trans "Хмельницкая" %}</option>
									<option value='zone1'>{% trans "Тернопольская" %}</option>
									<option value='zone1'>{% trans "Ровенская" %}</option>
									<option value='zone1'>{% trans "Житомирская" %}</option>
									<option value='zone1'>{% trans "Черниговская" %}</option>
									<option value='zone1'>{% trans "Полтавская" %}</option>
									<option value='zone1'>{% trans "Сумская" %}</option>
									<option value='zone1'>{% trans "Харковская" %}</option>
									<option value='zone1'>{% trans "Луганская" %}</option>
									<option value='zone1'>{% trans "Донецкая" %}</option>
									<option value='zone2'>{% trans "Волынская" %}</option>
									<option value='zone2'>{% trans "Львовская" %}</option>
									<option value='zone2'>{% trans "Запорожская" %}</option>
									<option value='zone2'>{% trans "Черновецкая" %}</option>
									<option value='zone2'>{% trans "Ивано-Франковская" %}</option>
									<option value='zone2'>{% trans "Днепропетровская" %}</option>
									<option value='zone3'>{% trans "Закарпатская" %}</option>
									<option value='zone3'>{% trans "Николаевская" %}</option>
									<option value='zone3'>{% trans "Херсонская" %}</option>
									<option value='zone3'>{% trans "Одесская" %}</option>
									<option value='zone3'>{% trans "АРК(центральна i пiвнiчна частина)" %}</option>
									<option value='zone4'>{% trans "АРК(пiвденне узбережжя)" %}</option>
								</select>
							</label>
							 <span>область</span>
						</div>
					</div>

					<div class="other_blocks">
						<p>Система отопления дома</p>
						<div class="right_side">
							<label class="select_box">
								<select id="t_system">
									<option id="system_old">{% trans "Старая" %}</option>
									<option id="system_new">{% trans "Нового образца" %}</option>
								</select>
							</label>
						</div>
					</div>

					<div class="top_and_bot_block">
							<p>Итого на весь сезон необходимо:</p><p><span id="t_season" class="calculating">20 550,50</span>кВт/ч тепла</p><br>
							<p>Необходимая мощность котла:</p> <p><span id="t_power" class="calculating">8,50</span>кВт</p>
					</div>
				</div>

				<p class="stoimost">Стоимость различных видов топлива</p>
				<div class="scrollbar-inner">
					<div class="calculator calculator_second">
						<div class="top_and_bot_block">
							<p class="cpecial">Вид топлива</p>
							<p class="cpecial">Необходимый объём</p>
							<p class="cpecial">Цена на топливо</p>
							<p class="cpecial">Затраты на отопление</p>
						</div>
					{% for fuel in site_config.fuels.all %}
						{% if fuel.fuel_type == 'wood' %}
							<div class="other_blocks">
								<div class="other_blocks_cell">
									<img src="{% get_static 'img/table/1.png' %}" alt="">
									<p>Дрова</p>
								</div>
								<div class="other_blocks_cell">
									<p id="wood_volume"> скл.м</p>
								</div>
								<div class="other_blocks_cell">
									<div class="right_side">
										<input id="wood_cost" type="number" value="{{ fuel.fuel_cost|floatformat:'0' }}"> <span>грн/скл.м</span>
									</div>
								</div>
								<div class="other_blocks_cell">
									<p><span id="wood_sum" class="calculating">8 626,80</span> грн</p>
								</div>
							</div>
						{% endif %}

						{% if fuel.fuel_type == 'pellets' %}
							<div class="other_blocks">
								<div class="other_blocks_cell">
									<img src="{% get_static 'img/table/2.png' %}" alt="">
									<p>Пеллеты</p>
								</div>
								<div class="other_blocks_cell">
									<p id="pellets_volume"> скл.м</p>
								</div>
								<div class="other_blocks_cell">
									<div class="right_side">
										<input id="pellets_cost" type="number" value="{{ fuel.fuel_cost|floatformat:'0' }}"> <span>грн/тонна</span>
									</div>
								</div>
								<div class="other_blocks_cell">
									<p><span id="pellets_sum" class="calculating">8 626,80</span> грн</p>
								</div>
							</div>
						{% endif %}

						{% if fuel.fuel_type == 'coal' %}
							<div class="other_blocks">
								<div class="other_blocks_cell">
									<img src="{% get_static 'img/table/3.png' %}" alt="">
									<p>Каменный уголь</p>
								</div>
								<div class="other_blocks_cell">
									<p id="coal_volume"> скл.м</p>
								</div>
								<div class="other_blocks_cell">
									<div class="right_side">
										<input id="coal_cost" type="number" value="{{ fuel.fuel_cost|floatformat:'0' }}"> <span>грн/тонна</span>
									</div>
								</div>
								<div class="other_blocks_cell">
									<p><span id="coal_sum" class="calculating">8 626,80</span> грн</p>
								</div>
							</div>
						{% endif %}

						{% if fuel.fuel_type == 'brown_coal' %}
							<div class="other_blocks">
								<div class="other_blocks_cell">
									<img src="{% get_static 'img/table/4.png' %}" alt="">
									<p>Бурый уголь</p>
								</div>
								<div class="other_blocks_cell">
									<p id="brown_coal_volume"> скл.м</p>
								</div>
								<div class="other_blocks_cell">
									<div class="right_side">
										<input id="brown_coal_cost" type="number" value="{{ fuel.fuel_cost|floatformat:'0' }}"> <span>грн/тонна</span>
									</div>
								</div>
								<div class="other_blocks_cell">
									<p><span id="brown_coal_sum" class="calculating">8 626,80</span> грн</p>
								</div>
							</div>
						{% endif %}

						{% if fuel.fuel_type == 'gas' %}
							<div class="other_blocks">
								<div class="other_blocks_cell">
									<img src="{% get_static 'img/table/5.png' %}" alt="">
									<p>Газ</p>
								</div>
								<div class="other_blocks_cell">
									<p id="gas_volume"> скл.м</p>
								</div>
								<div class="other_blocks_cell">
									<div class="right_side">
										<input id="gas_cost" type="number" value="{{ fuel.fuel_cost|floatformat:'0' }}"> <span>грн/м.куб</span>
									</div>
								</div>
								<div class="other_blocks_cell">
									<p><span id="gas_sum" class="calculating">8 626,80</span> грн</p>
								</div>
							</div>
						{% endif %}

						{% if fuel.fuel_type == 'electricity' %}
							<div class="other_blocks">
								<div class="other_blocks_cell">
									<img src="{% get_static 'img/table/6.png' %}" alt="">
									<p>Электроэнергия</p>
								</div>
								<div class="other_blocks_cell">
									<p id="electricity_volume"> скл.м</p>
								</div>
								<div class="other_blocks_cell">
									<div class="right_side">
										<input id="electricity_cost" type="number" value="{{ fuel.fuel_cost|floatformat:'0' }}"> <span>грн/кВт.ч</span>
									</div>
								</div>
								<div class="other_blocks_cell">
									<p><span id="electricity_sum" class="calculating">8 626,80</span> грн</p>
								</div>
							</div>
						{% endif %}

						{% if fuel.fuel_type == 'diesel' %}
							<div class="other_blocks">
								<div class="other_blocks_cell">
									<img src="{% get_static 'img/table/7.png' %}" alt="">
									<p>Дизельное топливо</p>
								</div>
								<div class="other_blocks_cell">
									<p id="diesel_volume"> скл.м</p>
								</div>
								<div class="other_blocks_cell">
									<div class="right_side">
										<input id="diesel_cost" type="number" value="{{ fuel.fuel_cost|floatformat:'0' }}"> <span>грн</span>
									</div>
								</div>
								<div class="other_blocks_cell">
									<p><span id="diesel_sum" class="calculating">8 626,80</span> грн</p>
								</div>
							</div>
						{% endif %}
					{% endfor %}

					</div>
				</div>
				<a href="" class="choose_kotel"
							id="choose_kotel_btn"
							data-filter-param="{{ power_attribute.code }}"
							data-catalogue-url="{% url 'catalogue:index' %}">Подобрать котел согласно введенным данным</a>
			</div>
			<div class="more_block"><p>Подробнее</p><i></i></div>
		</div>
	</div>
{% endif %}

{% if site_config.show_benefits %}
	<div class="fourth_block">
		<div class="container">
			<h4><span>Преимущества котлов</span> DEFRO:</h4>
			<ul>
				<li class="clear_fix">
					<img src="{% get_static 'img/icons/1.png' %}" alt="">
					<p>Фирменная гарантия 4 года на герметичность водяной рубашки и 2 года на исправную работу котла.</p>
				</li>
				<li class="clear_fix">
					<img src="{% get_static 'img/icons/2.png' %}" alt="">
					<p>Теплообменник котла выполнен из сертифицированной котельной стали /тип. P265GH/ толщиной 6 мм. Сварка швов осуществлена на роботизированных станках.</p>
				</li>
				<li class="clear_fix">
					<img src="{% get_static 'img/icons/3.png' %}" alt="">
					<p>Высокая эффективность котла (КПД до 85%) гарантирует эффективное сгорание топлива, высокую экономичность и экологичность горения.</p>
				</li>
				<li class="clear_fix">
					<img src="{% get_static 'img/icons/4.png' %}" alt="">
					<p>Высокая эффективность котла (КПД до 85%) гарантирует эффективное сгорание топлива, высокую экономичность и экологичность горения.</p>
				</li>
				<li class="clear_fix">
					<img src="{% get_static 'img/icons/5.png' %}" alt="">
					<p>Контроллер управляет работой котла и системы отопления, нагревом горячей воды (подключение к 2 насосам и комнатному регулятору).</p>
				</li>
				<li class="clear_fix">
					<img src="{% get_static 'img/icons/6.png' %}" alt="">
					<p>Большая камера загрузки.</p>
				</li>
				<li class="clear_fix">
					<img src="{% get_static 'img/icons/7.png' %}" alt="">
					<p>Два режима работы - при разжигании и засыпании сверху (угольный штыб - время горения до 20 час.) или «традиционный» снизу (уголь, смесь угля и штыба, древесины, стружки);</p>
				</li>
				<li class="clear_fix">
					<img src="{% get_static 'img/icons/8.png' %}" alt="">
					<p>Многоточковая система подачи воздуха в топку и система очистки воздуха.</p>
				</li>
			</ul>
		</div>
	</div>
{% endif %}

{% if site_config.show_credit %}
	<div class="fifth_block">
		<div class="container">
			<h5>Нужна рассрочка? - это не проблема</h5>
			<div class="more_info">
				<div class="banks">
					<div class="banks_logos">
					<img src="{% get_static 'img/banks/1.png' %}" alt="">
					<img src="{% get_static 'img/banks/2.png' %}" alt="">
					<img src="{% get_static 'img/banks/3.png' %}" alt="">
					<img src="{% get_static 'img/banks/4.png' %}" alt="">
					<img src="{% get_static 'img/banks/5.png' %}" alt="">
					</div>
					<p>Воспользуйтесь услугами наших банков-партнеров для получению кредита на покупку котла</p>
					<p>Так же не упустите возможность воспользоваться государственной программой</p>
					<p>компенсации 70% от стоимости твердотопливных котлов</p>
				</div>
				<form action="#">
					<input type="text" placeholder="+38 (___) ___-__-__">
					<button>Оформить рассрочку</button>
				</form>
			</div>
			<div class="more_block"><p>Подробнее</p><i></i></div>
		</div>
	</div>
{% endif %}

{% if site_config.show_reviews %}
	<div class="sixth_block">
		<div class="container">
			<h6>Обзоры <span>и</span> отзывы:</h6>
			<div class="youtube_videos">
				<a href="#"><img src="{% get_static 'img/youtube.png' %}" alt=""></a>
				<a href="#"><img src="{% get_static 'img/youtube.png' %}" alt=""></a>
				<a href="#"><img src="{% get_static 'img/youtube.png' %}" alt=""></a>
			</div>

			<div class="slider">
				<ul class="bxslider">

					<li>
						<div class="slider_block clear_fix">
							<img src="{% get_static 'img/slider_img.png' %}" alt="">
							<p class="slider_name">Киреева Анжелика <span>домохозяйка</span></p>
							<p class="slider_date">12 Декабря 2016</p>
							<p class="slider_text">Мы с мужем имеем квартиру, а дом оснащали на случай «конца света». У нас там своя скважина, солнечные батареи и котел выбирали энергонезависимый. То есть основная фишка - полная автономия. В ситуации, когда электричества нет никакой (даже солнца) могут работать только котлы на дровах. Разводку по дому стальными трубами мы сделали еще при строительстве. Расчет мощности котла и установка заказывали в «Винтерм». Они и котла подбирали. Взяли мы польский с чугунными внутренностями, как более надежный. Всем спасибо! У нас там теперь можно легко ядерную зиму пересидеть!</p>
						</div>
					</li>
					<li>
						<div class="slider_block clear_fix">
							<img src="{% get_static 'img/slider_img.png' %}" alt="">
							<p class="slider_name">Киреева Анжелика <span>домохозяйка</span></p>
							<p class="slider_date">12 Декабря 2016</p>
							<p class="slider_text">Мы с мужем имеем квартиру, а дом оснащали на случай «конца света». У нас там своя скважина, солнечные батареи и котел выбирали энергонезависимый. То есть основная фишка - полная автономия. В ситуации, когда электричества нет никакой (даже солнца) могут работать только котлы на дровах. Разводку по дому стальными трубами мы сделали еще при строительстве. Расчет мощности котла и установка заказывали в «Винтерм». Они и котла подбирали. Взяли мы польский с чугунными внутренностями, как более надежный. Всем спасибо! У нас там теперь можно легко ядерную зиму пересидеть!</p>
						</div>
					</li>
					<li>
						<div class="slider_block clear_fix">
							<img src="{% get_static 'img/slider_img.png' %}" alt="">
							<p class="slider_name">Киреева Анжелика <span>домохозяйка</span></p>
							<p class="slider_date">12 Декабря 2016</p>
							<p class="slider_text">Мы с мужем имеем квартиру, а дом оснащали на случай «конца света». У нас там своя скважина, солнечные батареи и котел выбирали энергонезависимый. То есть основная фишка - полная автономия. В ситуации, когда электричества нет никакой (даже солнца) могут работать только котлы на дровах. Разводку по дому стальными трубами мы сделали еще при строительстве. Расчет мощности котла и установка заказывали в «Винтерм». Они и котла подбирали. Взяли мы польский с чугунными внутренностями, как более надежный. Всем спасибо! У нас там теперь можно легко ядерную зиму пересидеть!</p>
						</div>
					</li>
					<li>
						<div class="slider_block clear_fix">
							<img src="{% get_static 'img/slider_img.png' %}" alt="">
							<p class="slider_name">Киреева Анжелика <span>домохозяйка</span></p>
							<p class="slider_date">12 Декабря 2016</p>
							<p class="slider_text">Мы с мужем имеем квартиру, а дом оснащали на случай «конца света». У нас там своя скважина, солнечные батареи и котел выбирали энергонезависимый. То есть основная фишка - полная автономия. В ситуации, когда электричества нет никакой (даже солнца) могут работать только котлы на дровах. Разводку по дому стальными трубами мы сделали еще при строительстве. Расчет мощности котла и установка заказывали в «Винтерм». Они и котла подбирали. Взяли мы польский с чугунными внутренностями, как более надежный. Всем спасибо! У нас там теперь можно легко ядерную зиму пересидеть!</p>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</div>
{% endif %}

{% if site_config.show_advanced %}
	<div class="seventh_block">
		<div class="container">
			<p class="caption"><span>ДОПОЛНИТЕЛЬНЫЕ</span> УСЛУГИ</p>
			<div class="more_info">
				<p class="desc">Кроме продажи оборудования мы можем предложить так же <br> его монтаж и запуск</p>
				<ul>
					<li>Заявка на сайте или звонок</li>
					<li>Выезд мастера</li>
					<li>Составление договора</li>
					<li>Монтаж котла</li>
					<li>Запуск системы отопления</li>
				</ul>
			</div>
			<div class="more_block"><p>Подробнее</p><i></i></div>
		</div>
	</div>
{% endif %}

	<div class="eighth_block">
		<div class="container">
			<p class="caption"><span>схема</span> доставки <span>и</span> оплаты:</p>
			<p class="desc">Доставка товара осуществляется по всей территории Украины</p>

			<img src="{% get_static 'img/delivery/car.png' %}" alt="">
			<div class="list_caption">
				Доставка товара может быть осуществлена следующим образом:
				<div class="list_more"><p>Подробнее</p><i></i></div>
			</div>
			<ul class="main_ul first_ul">
				<li>
					<p class="list_name">СПОСОБЫ ДОСТАВКИ</p>
					<p class="list_text">Доставка товара осуществляется по всей территории Украины и может быть произведена с помощью следующих транспортных компаний: <span>Новая <span>Почта</span>, <span>Интайм</span>, <span>Деливери</span>, Мист Экспресс</span>. По согласованию с покупателем возможна доставка нашим транспортом или "попутным грузом". Также есть возможность самовывоза товара.</p>
				</li>
				<li>
					<p class="list_name">ОПЛАТА</p>
					<p class="list_text">Все расходы, связанные с доставкой товара и оплатой наложенного платежа, оплачиваются непосредственно покупателем.
					Товары с акционной отметкой «Бесплатная доставка» отправляются бесплатно в любую точку Украины. Сроки действия акции уточняйте у менеджеров.</p>
				</li>
				<li>
					<p class="list_name">СРОКИ</p>
					<p class="list_text">С момента подтверждения заказа сроки его доставки в среднем составляют от 24 до 72 часов.</p>
				</li>
				<li>
					<p class="list_name">СТОИМОСТЬ</p>
					<p class="list_text">Расчет стоимости доставки осуществляется при оформлении заказа и в среднем составляет 4,5%-7% от общей стоимости товара. Ее величина зависит от типа продукции и адреса доставки.</p>
				</li>
			</ul>

			<img src="{% get_static 'img/delivery/money.png' %}" alt="">
			<div class="list_caption">
				Оплата товара может быть произведена следующими способами:
				<div class="list_more"><p>Подробнее</p><i></i></div>
			</div>
			<ul class="main_ul second_ul">
				<li>
					<p class="list_name">БЕЗНАЛИЧНЫЙ РАСЧЕТ</p>
					<p class="list_text">После оформления заказа на Ваш электронный адрес будет выслан счет-фактура. Совершить оплату по нему Вы можете в отделении любого банка на территории Украины или с помощью интернет-банкинга <span>Приват 24</span>, <span>UniCredit Online</span> и т.д. Дополнительная комиссия здесь отсутствует.</p>
				</li>
				<li>
					<p class="list_name">НАЛИЧНЫЙ РАСЧЕТ</p>
					<p class="list_text">Наличный расчет позволяет без дополнительных комиссий произвести оплату:
						<span class="red_dot">в кассе при покупке товара непосредственно в магазине;</span>
						<span class="red_dot">курьеру в момент доставки товара по адресу;</span>
						<span class="red_dot">при самовывозе со склада.</span>
					</p>

				</li>
				<li>
					<p class="list_name">VISA / MASTERCARD</p>
					<p class="list_text">Оплата товара при помощи карты <span>Visa</span> или <span>Mastеrcard</span> позволяет совершать покупки в режиме реального времени. Выбирая данный метод оплаты, стоит учесть, что комиссия за перевод средств составляет 2% от стоимости заказа. Если на карте стоит ограничение на перевод средств, то общую сумму нужно разделить так, чтобы каждый платеж не превышал 2000 грн.</p>
				</li>
				<li>
					<p class="list_name">НАЛОЖЕННЫЙ ПЛАТЕЖ</p>
					<p class="list_text">Совершить оплату за товар Вы можете в национальной валюте в пункте выдачи транспортной компании. В таком случае к сумме оплаты будет добавлена комиссия в размере 3% от общей стоимости заказа.</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="ninth_block">
		<p class="caption">Как с нами связаться</p>
		<div id="map" style="width: 100%; height:750px; border: 0; box-shadow: 0px -3px 10px -7px #000;"></div>

		<div class="container">
			<div class="bottom_menu">
			{% for category  in footer_menu %}
				<div class="menu_block">
					<p class="menu_block_caption">{{ category.0 }}</p>
					<div class="footer_close"></div>
					<div class="footer_info">
						<ul class="menu_block_items">
							{% for item in category.1 %}
								<li><a href="{% url_format item.link %}">{{ item }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endfor %}

				<div class="menu_block">
					<p class="menu_block_caption">Как связаться</p>
					<div class="footer_close"></div>
					<div class="footer_info">
			            <ul class="contact_ul">
			                {% if phone_numbers.kievstar %}
			                    <li>
			                        <a href="tel:+38{{ phone_numbers.kievstar|first|cut:" " }}">({{ phone_numbers.kievstar|first|slice:':3' }}) {{ phone_numbers.kievstar|first|slice:'4:'|phone_number_filter }}</a>
			                    </li>
			                {% endif %}
			                {% if phone_numbers.vodafone %}
			                    <li>
			                        <a href="tel:+38{{ phone_numbers.vodafone|first|cut:" " }}">({{ phone_numbers.vodafone|first|slice:':3' }}) {{ phone_numbers.vodafone|first|slice:'4:'|phone_number_filter }}</a>
			                    </li>
			                {% endif %}
			                {% if phone_numbers.life %}
			                    <li>
			                        <a href="tel:+38{{ phone_numbers.life|first|cut:" " }}">({{ phone_numbers.life|first|slice:':3' }}) {{ phone_numbers.life|first|slice:'4:'|phone_number_filter }}</a>
			                    </li>
			                {% endif %}
			                <li><a href="#" class="predstav">Наши
			                    представительства</a></li>
			            </ul>

			            <div class="time_work">
			                {% if schedule.main %}
			                    {% for timetable in schedule.main %}
			                        <p>{{ timetable.weekdays }}:<span>{{ timetable.daytime }}</span>
			                        </p>
			                    {% endfor %}
			                {% else %}
			                    <p>Пн.-Пт.:
			                        <span> с 9:00 до 18:00</span></p>
			                    <p>Сб:<span> с 9:00 до 15:00</span></p>
			                {% endif %}
			                {% if site_email %}
			                    <a href="mailto:{{ site_email }}">{{ site_email }}</a>
			                {% else %}
			                    <a href="mailto:info@defro.org.ua">info@defro.org.ua</a>
			                {% endif %}
						</div>
		            </div>
				</div>

				<div class="menu_block">
		            <p class="menu_block_caption">Принимаем к
		                оплате</p>
		            <div class="footer_close"></div>
		            <div class="footer_info">
			            <img src="{% get_static 'img/footer/master.png' %}"
			                 alt="">
			            <img src="{% get_static 'img/footer/visa.png' %}"
			                 alt="">
		            </div>
				</div>

				<div class="grafik">
					<div class="time_work">
						<p class="grafik_caption">График работы
							call-центра</p>
						{% if schedule.callcenter %}
							{% for timetable in schedule.callcenter %}
								<p>{{ timetable.weekdays }}:<span>{{ timetable.daytime }}</span>
								</p>
							{% endfor %}
						{% else %}
							<p>Пн.-Пт.:
								<span> с 9:00 до 18:00</span></p>
							<p>Сб:<span> с 9:00 до 15:00</span></p>
							<p>Вс: <span> выходной</span></p>
						{% endif %}
					</div>

					<div class="time_work">
						<p class="grafik_caption">Заказ через
							корзину 24/7/365</p>
						<p class="grafik_special">Ночные заказы
							обрабатываются</p>
						{% if schedule.nightorders %}
							{% for timetable in schedule.nightorders %}
								<p>{{ timetable.weekdays }}:<span>{{ timetable.daytime }}</span>
								</p>
							{% endfor %}
						{% else %}
							<p>с 9:00 до 11:00</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="bottom_menu_bg">
		</div>
	</div>

	{{ block.super }}

{% endblock %}

{% block above_footer_block %}

{% endblock %}

{% block footer %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	<script>
		$(document).ready(function(){
			side_hover_landing();
			$(window).resize(function() {
				side_hover_landing();
			});
		});
	</script>
	<script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdPtVLPxh69Yy7yTGDoXhK2vVUE0YGpEM&callback=initMap">
	</script>
    <script>
      function initMap() {
        var coords = {lat: 50.487384, lng: 30.468923}
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: 50.479384, lng: 30.468923}
        });
        var marker = new google.maps.Marker({
          position: coords,
          map: map
        });
      }
    </script>
	{{ block.super }}
{% endblock %}