{% extends "dashboard/layout.html" %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page {% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block title %}
    {{ title }} | {% trans "Portation" %} | {{ block.super }}
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{{ title }}</h2>
    </div>
        <div class="alert alert-warning">
            <div class="alertinner wicon">
                {{ form.HELP_TEXT }}
                <i class="icon-warning-sign"></i>
            </div>
        </div>
    <div class="well">
        {% include 'dashboard/partials/form.html' with includes_files=includes_files %}
    </div>
{% endblock dashboard_content %}


{% block extrascripts %}
    {{ block.super }}

    <script type="text/javascript">
        $('select#id_attributes').find('option').remove();
        $('select#id_attributes').select2();

        $('select#id_product_class').change(function () {
            var procudtClassId = $('select#id_product_class').val();
            jQuery.ajax({
                'url': "{% url 'dashboard:portation-get-attributes' %}",
                'data': 'p_class_id=' + procudtClassId,
                'success': function (data) {
                    attributes = data['attributes']
                    for (var i = 0; i < attributes.length; i++) {
                        $('select#id_attributes').append($('<option>', {
                            value: attributes[i].id,
                            text: attributes[i].name,
                        }));
                        $('select#id_attributes').select2();
                    }
                },
            });
        });
    </script>
{% endblock extrascripts %}
