{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% blocktrans with title=question %}Вопрос о товаре {{ title }}{% endblocktrans %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:productquestion-list' %}">{% trans "Вопросы о товаре" %}</a>
        </li>
        <li class="active">{{ question }}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% blocktrans with title=question %}Вопрос о товаре {{ title }}{% endblocktrans %}
{% endblock  %}

{% block dashboard_content %}
    <form {% if form_id %}id="{{ form_id }}"{% endif %} class="form-{{ style|default:"stacked" }}" method="{{ method|default:"post" }}"
    {% if action %}action="{{ action }}"{% endif %}>
    {% if not method == "get" %}{% csrf_token %}{% endif %}
    {% include 'dashboard/partials/form_fields.html' %}
    <div class="form-group form-actions">
      <button class="btn btn-lg btn-primary" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
      {% trans "or" %} <a href="#" onclick="window.history.go(-1);return false" >{% trans "cancel" %}</a>.
    </div>
  </form>
{% endblock dashboard_content %}
