{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block title %}
    {% trans "Вопросы о товаре" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Вопросы о товаре" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{% trans "Вопросы о товаре" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}

    {% if questions %}
        <form action="." method="post" class="order_table" id="orders_form">
            {% csrf_token %}

            {% block questions_list %}
            <table class="table table-striped table-bordered table-hover">
                <caption>
                    <h3 class="pull-left"><i class="icon-large"></i>
                        {% trans "Все вопросы о товаре" %}
                    </h3>
                </caption>

                <thead>
                    <tr>
                        <th>{% trans "Created" %}</th>
                        <th>{% trans "Product" %}</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Phone" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td><a href="{% url 'dashboard:productquestion-detail' pk=question.id %}">{{ question.when_created }}</a></td>
                        <td>{{ question.product }}</td>
                        <td>{{ question.name }}</td>
                        <td>{{ question.phone }}</td>
                        <td>
                          {% include 'shop/dashboard/site/row_actions.html' with url_name_edit='dashboard:productquestion-detail' url_name_delete='dashboard:productquestion-delete' record=question %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock questions_list %}

            {% include "dashboard/partials/pagination.html" %}
        </form>
    {% else %}
        <table class="table table-striped table-bordered">
            <caption><i class="icon-large"></i>
               {% trans "Все вопросы о товаре" %}
            </caption>
            <tr><td>{% trans "Вопросы о товаре не найдены." %}</td></tr>
        </table>
    {% endif %}

    {% endblock dashboard_content %}