<div class="filter-wrapper">
    <div class=""></div>
</div>
<form id="filter_form" method="get">
    <div class="left_filter_collapse">
        <a class="left_filter_captions" role="button" data-toggle="collapse" href="#collapseFilter0" aria-expanded="false" aria-controls="collapseFilter0">
          Цена
        </a>
        <div class="collapse in" id="collapseFilter0">
          <div class="well">
            <span class="otdo_span">от</span>
            <input class="otdo_input" type="text" id="minCost" value="{{ price_range_min }}" name="price_range_min" />
            <span class="otdo_span">до</span>
            <input class="otdo_input" type="text" id="maxCost" value="{{ price_range_max }}" name="price_range_max" />
            <label></label>
            <span class="otdo_span">грн.</span>

            <div id="slider_price" data-max-price="{{ max_price }}" data-price-range-min="{{ price_range_min }}" data-price-range-max="{{ price_range_max }}"></div>
          </div>
        </div>
    </div>
    {% for field in form %}
        <div class="left_filter_collapse">
            <a class="left_filter_captions"
               role="button"
               data-toggle="collapse"
               href="#collapseFilter{{ forloop.counter|add:'3' }}"
               aria-expanded="false"
               aria-controls="collapseFilter{{ forloop.counter|add:'3' }}">
                {{ field.label }}
            </a>
            <div class="collapse in" id="collapseFilter{{ forloop.counter|add:'3' }}">
                <div class="well">
                    <div class="checkbox">
                        {% for item in field %}
                            {{ item.tag }}
                            <label for="{{ item.id_for_label }}"{% if item.product_count == 0 %} class="disabled"{% endif %}>
                                {{ item.choice_label }}
                                <span>({{ item.product_count }})</span>
                            </label>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <input type="hidden" name="category_id" value="{{ category.pk }}">
</form>
