{% load i18n %}

{% load site_static %}

{% if is_main_page %}
<a class="left_side_caption" id="permanentCollapse">
    {% trans "Каталог товаров" %}
</a>
{% else %}
<a class="left_side_caption catalog_left_side_caption" role="button" data-toggle="collapse"
   href="#collapseExample" aria-expanded="true"
   aria-controls="collapseExample">
    {% trans "Каталог товаров" %}
</a>
{% endif %}


<div class="collapse in" id="collapseExample">
    <div class="well" id="landingCollapse">
        <ul class="left_menu {% if is_main_page %}main_left_menu{% endif %}">
            <li>
                {% if side_menu_categories %}
                  {% for category, descendants in side_menu_categories.items %}
                    <div class="dropdown side-menu">
                        <a href="{{ category.get_absolute_url }}"
                           class="btn btn-default dropdown-toggle open"
                           id="dropdownMenu{{ forloop.counter0|add:'3' }}"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="true">
                            {{ category.side_menu_name }}
                        </a>
                        {% if descendants %}
                        <ul class="dropdown-menu"
                            aria-labelledby="dropdownMenu{{ forloop.counter0|add:'3' }}">
                            {% for descendant in descendants %}
                                <li class="clear_fix">
                                    {% if descendant.image %}
                                        <img src="{{ descendant.image.url }}"
                                             alt="">
                                    {% endif %}
                                    <div class="menu_item_links">
                                        <a href="{{ descendant.get_absolute_url }}"
                                           class="menu_item_caption">{{ descendant.side_menu_name }}</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                  {% endfor %}
                {% endif %}
                {% if side_menu %}
                    {% for item in side_menu %}
                      <div class ="side-menu">
                        <a href="{{ item.link }}" class="btn btn-default">{{ item.name }}</a>
                      </div>
                  {% endfor %}
                {% endif %}
            </li>
        </ul>
    </div>
</div>

<script src  = "{% get_static 'js/side_menu.js' %}"></script>
