{% extends "dashboard/layout.html" %}
{% load i18n %}
{% load site_list %}

{% block navbar %}
<nav class="navbar navbar-static-top navbar-inverse navbar-accounts">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-accounts">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <ul class="nav navbar-nav navbar-left">
            <li><span class="navbar-brand">{{ shop_name }}</span></li>
              <li>
                <select class="select2-drop" id="site_list" style="width: 300px; margin: 7px; display: block;">
                  {% site_list %}
                </select>
              </li>
              <li><a href="#" id="change_site_btn" class="button">{% trans "Change site" %}</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse nav-accounts">
            <ul class="nav navbar-nav navbar-right">
                <li><span>{% trans "Welcome" %} <em>{{ user.get_full_name|default:request.user.email }}</em></span></li>
                <li><a href="{{ homepage_url }}"><i class="icon-home"></i> {% trans "Return to site" %}</a></li>
                <li><a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a></li>
                <li><a href="{% url 'dashboard:logout' %}"><i class="icon-signout"></i> {% trans "Log out" %}</a></li>
            </ul>
        </div>
    </div><!-- /navbar-inner -->
</nav><!-- /navbar -->
{% endblock navbar %}

{% block extrascripts %}
{{ block.super }}
<script type="text/javascript">
    document.getElementById("change_site_btn").onclick = function (e) {
        e.preventDefault();
        l = document.getElementById("site_list");
        d = l.options[l.selectedIndex].value;
        if (location.hostname !== d) {
          location.href = location.protocol + '//' + d + '/dashboard/';
        }
    };
</script>

{% endblock %}