{% load i18n %}
{% trans "Новый заказ в один клик!" %}
{% if instance.product %}
{% if LANGUAGE_CODE == 'ru' %}
Заказ в один клик- {%else %}Замовлення в один клік {% endif %} {{ instance.id }},
на товар {{  instance.product.id }},
артикул: {{ instance.product.upc }}
{% if LANGUAGE_CODE == 'ru' %}
Номер клиента{% else %}Номер клієнта{% endif %}: {{instance.phone}}
 {% elif instance.basket %}

{% trans "Заказ в один клик- {{ instance.id }}, на товары" %}
{% for line in instance.basket.lines.all %}
{{ line.product.get_title }}
({% trans "артикул:" %} {{ line.product.upc }}) - {{ line.quantity }} {% trans "шт" %}, 
{% endfor %}

{% if instance.phone%}
Номер клиента: {{instance.phone}}
{% endif %}

{% endif %}